@model List<dp2weixin.service.BorrowInfo2>
@section style {
    <style type="text/css">
        /*所有需要后面填充内容的元素样式*/
        .pending {
            /*设为背景图影响效果太大了，还是元素里面加个img吧*/
            /*background-image:url("img/wait.gif");*/
        }

        TABLE.borrowTable {
            text-align: left;
            background-color: white;
            width: 100%;
        }

            TABLE.borrowTable TR TD {
                border-width: 0px;
                border-top-width: 1px;
                border-color: #dddddd;
                border-style: dotted;
                padding: 2px;
            }

                TABLE.borrowTable TR TD.value {
                    /*border-left-width: 2px;*/
                    border-left: 1px solid #CCCCCC;
                    padding-left: 5px;
                }

                TABLE.borrowTable TR TD.returnDate {
                    font-weight: bolder;
                    border-left: 1px solid #CCCCCC;
                    padding-left: 5px;
                }

                TABLE.borrowTable TR TD.label {
                    width: 70px;
                    max-width: 70px;
                    min-width: 70px;
                    background-color: #eeeeee;
                    color: #999999;
                    padding-left: 5px;
                    text-align: right;
                }
    </style>
}
@section Scripts {
    <script>



        function renew(btn) {

            var barcordSpan = $(btn).parent().children("span");
            var itemBarcode = barcordSpan.text();
            if (itemBarcode == "") {
                alert("尚未传入册条码号。");
                return;
            }

            var gnl = confirm("您确认续借册[" + itemBarcode + "]吗?");
            if (gnl == false) {
                return false;
            }

            var libId = getLibId();//$("#libId").text();;
            var patronBarcode = $("#patronBarcode").text();

            //显示等待图层
            //var index = loadLayer();
            showMaskLayer();

            var url = "/api/BorrowInfoApi?libId=" + encodeURIComponent(libId)
                + "&action=renew"
                + "&patron=" + encodeURIComponent(patronBarcode)
                + "&item=" + encodeURIComponent(itemBarcode)
            // 调api
            sendAjaxRequest(url, "POST", function (result) {

                // 关闭等待层
                //layer.close(index);
                hideMaskLayer();

                // 显示续借结果
                var infoDiv = $(btn).parent().children("div");
                var info = result.errorInfo;


                // 出错
                if (result.errorCode == -1) {
                    $(infoDiv).text(info);
                    $(infoDiv).css("color", "red");  //设为红色

                    alert(result.errorInfo);
                    return;
                }


                if (info == "")
                    info = "续借成功";

                alert(info);

                // 重新加载页面
                window.location.reload();

            }, function (xhq, textStatus, errorThrown) {

                // 关闭等待层
                //layer.close(index);
                hideMaskLayer();

                // 显示预约结果
                var info = "访问服务器出错：[" + errorThrown + "]";
                alert(info);

                var infoDiv = $(btn).parent.children("div");

                $(infoDiv).text(info);
                $(infoDiv).css("color", "red");  //设为红色
            });
        }

        //$(document).ready调用是jQuery推迟函数执行的一项标准技术，
        //它直到浏览器加载并处理了文档的所有HTML元素之后才会执行。
        $(document).ready(function () {

            window.setTimeout("fillPending()", 1);
        });



    </script>
}
@section header {
    <h1 class="mui-title">在借续借</h1>
}

<span id="patronBarcode" style="display:none">@ViewBag.patronBarcode</span>
@if (String.IsNullOrEmpty(ViewBag.Error) == false)
{
    <div class="mui-content-padded">
        <span class="errorinfo">
            @Html.Raw(ViewBag.Error)
        </span>
    </div>
}
else
{
    <div class="mui-content-padded" style="text-align:right">
        <span>@ViewBag.maxBorrowCount</span>&nbsp;
        <span>@ViewBag.curBorrowCount</span>&nbsp;&nbsp;
    </div>

    if (Model == null || Model.Count == 0)
    {
        <div class="mui-content-padded" id="divNo">
            <center>
                <img src='../img/empty2.jpg' width='100' height='100' style='padding-top:5px' />
                <div>您目前没有借书记录。</div>
            </center>
        </div>
    }
    else
    {
        foreach (dp2weixin.service.BorrowInfo2 item in Model)
        {
            <div class="mui-card" style="margin-bottom:10px ">
                <table class="borrowTable">
                    <tr>
                        <td class="label">册条码号</td>
                        <td class="value"><a href="@item.barcodeUrl" target="_blank"><span>@item.barcode</span></a></td>
                    </tr>
                    <tr>
                        <td class="label">续借次</td>
                        <td class="value">@item.renewNo</td>
                    </tr>
                    <tr>
                        <td class="label">借阅日期</td>
                        <td class="value">@item.borrowDate</td>
                    </tr>
                    <tr>
                        <td class="label">期限</td>
                        <td class="value">@item.period</td>
                    </tr>
                    <tr>
                        <td class="label">操作者</td>
                        <td class="value">@item.borrowOperator</td>
                    </tr>
                    <tr>
                        <td class="label">应还日期</td>
                        <td class="returnDate">@item.returnDate</td>
                    </tr>
                    <tr>
                        <td class="label">摘要</td>
                        <td class="value">
                            <span class="pending">
                                <label style="display:inline">bs-@item.barcode</label>
                                <img src="~/img/wait2.gif" height="10" width="10" />
                                <span>@ViewBag.LibId</span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">操作</td>
                        <td class="value">
                            @if (item.rowCss != "borrowinfo-overdue")
                            {
                                <button type="button" class="mui-btn  mui-btn-default" onclick="renew(this)">
                                    续借
                                </button>
                                <span style="display:none">@item.barcode</span>
                                <div></div>
                            }
                        </td>
                    </tr>

                </table>

            </div>
        }
    }
}
