@model List<dp2weixin.service.OverdueInfo>
@section header {
    <h1 class="mui-title">违约交费</h1>
}

@if (Model == null || Model.Count == 0)
{
    <div class="mui-content-padded" id="divNo" >
        <center>
            <img src='../img/empty2.jpg' width='100' height='100' style=" padding-top:5px" />
            <div>您目前没有违约交费记录。</div>
        </center>
    </div>
}
else
{
    <ul class="mui-table-view  mui-table-view-condensed">
        @foreach (dp2weixin.service.OverdueInfo item in Model)
        {
            <li class="mui-table-view-cell" style="background-color:yellow;">
                <table>
                    <tr>
                        <td class="td-right">册条码号</td>
                        <td class="td-left" style="color:green;font-size:14.8px;font-weight:bold">
                            <a href="@item.barcodeUrl" target="_blank">
                                <span>@item.barcode</span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-right">说明</td>
                        <td class="td-left">@item.reason</td>
                    </tr>
                    <tr>
                        <td class="td-right">金额</td>
                        <td class="td-left">@item.price</td>
                    </tr>
                    <tr>
                        <td class="td-right">附注</td>
                        <td class="td-left">@item.pauseInfo</td>
                    </tr>
                    <tr>
                        <td class="td-right">起点日期</td>
                        <td class="td-left">@item.borrowDate</td>
                    </tr>
                    <tr>
                        <td class="td-right">期限</td>
                        <td class="td-left">@item.borrowPeriod</td>
                    </tr>
                    <tr>
                        <td class="td-right">终点日期</td>
                        <td class="td-left">@item.returnDate</td>
                    </tr>
                </table>
            </li>
        }
    </ul>
}