@model dp2weixin.service.WxUserItem

@{
    ViewBag.Title = "PatronRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header {
    <h1 class="mui-title">读者注册</h1>
}

@section Scripts {
    <script>

        // 选择图书馆
        function gotoSelectLib() {
            //alert("1");
            var url = "/Patron/SelectOwnerLib?returnUrl=" + encodeURIComponent("/Patron/PatronRegister");
            gotoUrl(url);
        }

        // 发送手机验证码
        function sendVC() {

            // 图书馆ID
            var libId = getLibId();
            if (libId == "") {
                alert("异常情况：libId为空。");
                return;
            }

            // 手机号
            var phone = $("#txtPhone").val();
            if (phone == "") {
                alert("手机号不能为空！");
                return;
            }
            if (phone.length != 11) {
                alert("手机号必须是11位数字！");
                return;
            }

            //显示等待图层
            showLoading();

            // 调patron发送验证码接口
            var url = "/api/patronapi?libId=" + encodeURIComponent(libId)
                + "&phone=" + encodeURIComponent(phone)

            //alert(url);
            sendAjaxRequest(url, "GET",
                function (result) {

                    // 关闭等待层
                    hideLoading();
                    if (result.errorCode == -1) {
                        alert("发送短信验证码出错：" + result.errorInfo);
                        return;
                    }

                    //alert(result.verifyCode);

                    $("#_verifyCode").text(result.verifyCode);


                    alert("短信验证码已发送到您手机号，请查收。");// + result.verifyCode);  //todo正式版本删除码提示

                }, function (xhq, textStatus, errorThrown) {
                    // 关闭等待层
                    hideLoading();
                    alert(errorThrown);
                });
        }

        // 保存读者信息
        function save() {
            //alert("1");

            // 图书馆ID
            var libId = getLibId();
            if (libId == "") {
                alert("请先选择图书馆，点击右侧的...按钮。");
                return;
            }

            var libraryCode = $("#libraryCode").text();
            if (libraryCode == null)
                libraryCode = "";


            // 新增读者的记录路径,这里是写死的，要改为配置的数据库名称todo
            var recPath = $("#_recPath").text();//"读者/?";
            if (recPath == "") {
                alert("尚未配置读者数据库，请联系管理员。");
                return;
            }            
            //alert(recPath);
            var readerType = "[blank]";
            var opeType = "register";

            // 如果最后一段不是?，表示重新提交
            var lastChar = recPath.substring(recPath.length - 1);
            if (lastChar != "?") {
                opeType = "reRegister";
                readerType = "";
            }
            //alert(opeType + "-" + lastChar);

            //姓名
            var name = $("#txtName").val();
            if (name == "") {
                alert("请输入姓名。");
                return;
            }

            //性别
            var gender = $('#selGender option:checked').val();
            if (gender == "") {
                alert("请选择性别。");
                return;
            }

            // 部门
            var department = $("#txtDepartment").val();
            if (department == "") {
                alert("请输入部门。");
                return;
            }

            // 手机号
            var phone = $("#txtPhone").val();
            if (phone == "") {
                alert("请输入手机号");
                return;
            }
            if (phone.length != 11) {
                alert("手机号格式不正确。");
                return;
            }

            var txtVC = $("#txtVerifyCode").val();
            if (txtVC == "") {
                alert("请输入短信验证码。");
                return;
            }

            // 用手机号作为读者证条码
            var readerBarcord = phone;


            // 2020/10/19 如果有座机号，加上座机号
            var tel = $("#txtTel").val();
            if (tel != null && tel != "") {
                phone = phone + "," + tel;
            }

            var comment=$("#txtComment").val();

            var realVC = $("#_verifyCode").text();
            if (txtVC != realVC) {
                alert("验证码不正确。");
                return;
            }

            // 微信id
            var weixinId = $("#_weixinId").text();
            if (weixinId == "") {
                alert("异常：weixinId不能为空。");
                return;
            }
            //alert(weixinId);


            //显示等待图层
            showMaskLayer();

            // 调Patron的SetPatron()
            var url = "/api/PatronApi?libId=" + libId
                + "&userName=" //+ encodeURIComponent(userName)
                + "&opeType=" + encodeURIComponent(opeType)  // 2020/6/2增加了编辑的功能，审核不通过时，读者可以编辑重新提交。
                + "&recPath=" + encodeURIComponent(recPath)
                + "&timestamp=" // + encodeURIComponent(timestamp)
                + "&weixinId=" + encodeURIComponent(weixinId);

            //alert(url);

            sendAjaxRequest(url, "POST",
                function (result) {

                    // 关闭等待层
                    hideMaskLayer();

                    if (result.errorCode == -1) {
                        alert(result.errorInfo);
                        return;
                    }

                    // 2020-3-12 去掉这项
                    //$("#_recPath").text(result.recPath);

                    alert("读者信息提交成功，请等待管理员审核。");

                    //清空编辑界面信息,todo
                    $("#txtName").val("");
                    $("#selGender").val("");
                    $("#txtDepartment").val("");
                    $("#txtPhone").val("");
                    $("#txtVerifyCode").val("");
                    $("#_verifyCode").text("");

                    var tempBarcode = result.info;

                    //var returnUrl = "/Patron/PatronReview?libId=" + libId
                    //    + "&patronPath=" + encodeURIComponent(result.recPath)
                    //    +"&patronLibCode="+encodeURIComponent(libraryCode);//"/Patron/PersonalInfo";
                    //alert(returnUrl);

                    // 转到个人信息
                    var returnUrl = "/Patron/PersonalInfo";
                    gotoUrl(returnUrl);
                },
                function (xhq, textStatus, errorThrown) {
                    // 关闭等待层
                    hideMaskLayer();
                    alert(errorThrown);
                },
                {
                    barcode: readerBarcord, //readerBarcord,
                    readerType: readerType,//"[blank]", //创建读者记录的时候，可以在 readerType 元素里面用值 [blank]，表示要写入空的读者类型值。 //临时读者",// readerType, 2020/5/25 设为空的读者类型
                    name: name,
                    gender: gender,
                    department: department,
                    phone: phone,
                    libraryCode: libraryCode,
                    state: "待审核",
                    comment: comment
                }
            );
        }

        function setdept(dept) {

            if (dept == "其它") {
                $("#txtDepartment").val("");  // 注意这里一定要设成空字符串""，不能直接是val()

                $("#otherDept").css("display", "block");
            }
            else {
                $("#txtDepartment").val(dept);
                $("#otherDept").css("display", "none");
            }

            //alert("test-"+$("#txtDepartment").val());
        }

    </script>
}
<span id="_recPath" style="display:none">@ViewBag.PatronRecPath</span>
<span id="_verifyCode" style="display:none"></span>
<span id="_weixinId" style="display:none">@ViewBag.weixinId</span>
<span id="libId" style="display:none">@ViewBag.LibId</span>
<span id="libraryCode" style="display:none">@ViewBag.LibraryCode</span>
@if (String.IsNullOrEmpty(ViewBag.Error) == false)
{
    <div class="mui-content-padded">
        <span class="errorinfo">
            @Html.Raw(ViewBag.Error)
        </span>
    </div>
}
else
{
    if (ViewBag.RedirectInfo != null && ViewBag.RedirectInfo != "")
    {
        @Html.Raw(ViewBag.RedirectInfo);
    }
    else
    {
<div class="mui-input-group">

    <table style="width:100%">
        <tr>
            <td style="width:100%">
                <div class="mui-input-group" style="background-color:white">
                    <div class="mui-input-row">
                        <label style="font-size:large">图书馆</label>
                        <input type="text" class="mui-input mui-input-clear" id="txtLib" readonly value="@ViewBag.PureLibName">
                    </div>
                </div>
            </td>
            <td><button onclick="gotoSelectLib()" id='login' class="" style="border:1px dotted gray;margin-right:2px;height:40px;">...</button></td>
        </tr>
    </table>

    <div class="mui-input-row ">
        <label id="lblName" style="color:#cccccc">姓名</label>
        <input id='txtName' type="text" class="mui-input mui-input-clear" placeholder="请输入 姓名" value="@Model.readerName">
    </div>

    <div class="mui-input-row selArrowRightContainer">
        <label id="lblGender" style="color:#cccccc">性别</label>
        <select id="selGender" name="selGender" class='selArrowRight'>
            <option value=''>请选择 性别</option>"
            <option value="男" @ViewBag.manSel>男</option>
            <option value="女" @ViewBag.womanSel>女</option>
        </select>
    </div>

    <div class="mui-input-row selArrowRightContainer">
        <label id="lblDepartment" style="color:#cccccc">部门</label>
        <select id="selDept" name="selDept" class='selArrowRight' onchange="setdept(this.value)">
            @Html.Raw(ViewBag.deptHtml)
        </select>
    </div>

    <div id='otherDept' class="mui-input-row " style="display:none">
        <label id="lblOther" style="color:#cccccc">其它部门</label>
        <input id='txtDepartment' type="text" class="mui-input mui-input-clear" placeholder="请输入 部门" value="@Model.department">
    </div>



    <div class="mui-input-row ">
        <label id="lblPhone" style="color:#cccccc">手机号</label>
        <input id='txtPhone' type="text" class="mui-input mui-input-clear" placeholder="请输入 手机号" value="@ViewBag.PurePhone">
    </div>

    <table style="width:100%;border:none">
        <tr style="border:none">
            <td style="width:100%;border:none">
                <div class="mui-input-row">
                    <label id="lblVerifyCode" style="color:gray;border:none">验证码</label>
                    <input id='txtVerifyCode' type="text" class="mui-input mui-input-clear" style="border:none">
                </div>
            </td>
            <td>
                <button onclick="sendVC()" id='btnSendVC' class="mui-btn" style="border:1px dotted #eeeeee;margin-right:2px;height:40px;">获取短信验证码</button>
            </td>
        </tr>
    </table>
    <div class="mui-input-row ">
        <label id="lblTel" style="color:#cccccc">座机(可不填)</label>
        <input id='txtTel' type="text" class="mui-input mui-input-clear" value="@ViewBag.PureTel" placeholder="请输入 座机">
    </div>
    <div class="mui-input-row ">
        <label id="lblReason" style="color:#cccccc">备注</label>
        <input id='txtComment' type="text" class="mui-input mui-input-clear" placeholder="请输入 备注信息">
    </div>

    <div class="mui-content-padded">
        <button id='btn' class="mui-btn mui-btn-block mui-btn-primary" onclick="save()">提交</button>
    </div>
</div>
    }
}

