@model dp2weixin.service.Patron
@{
    ViewBag.Title = "PatronReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header {
    <h1 class="mui-title">读者审核</h1>
}

@section style {
    <style>
        TABLE.patronEdit {
            text-align: left;
            background-color: white;
            width: 100%;
        }

            TABLE.patronEdit TR TD {
                border-width: 0px;
                padding: 2px;
            }

                TABLE.patronEdit TR TD.value {
                    padding-left: 5px;
                }

                TABLE.patronEdit TR TD.label {
                    min-width: 80px;
                    width: 80px;
                    color: #cccccc;
                    padding-left: 5px;
                    padding-right: 5px;
                    text-align: right;
                }
    </style>
}

@section Scripts {
    <script>
const { Alert } = require("bootstrap");


        // 获取证条码号
        function getPatronBarcode() {

            //alert("test");

            var gnl = confirm("您确认要重新分配读者证条码号吗?");
            if (gnl == false) {
                return false;
            }

            // 图书馆ID
            var libId = getLibId();
            if (libId == "") {
                alert("异常情况：libId为空。");
                return;
            }

            var libraryCode = $("#libraryCode").text();
            if (libraryCode == null)
                libraryCode = "";

            //alert("2");

            //显示等待图层
            showLoading();

            // 调patron发送验证码接口
            var url = "/api/patronapi?libId=" + encodeURIComponent(libId)
                + "&libraryCode=" + encodeURIComponent(libraryCode)

            //alert(url);
            sendAjaxRequest(url, "GET",
                function (result) {

                    // 关闭等待层
                    hideLoading();

                    if (result.errorCode == -1) {
                        alert("获取证条码号出错：" + result.errorInfo);
                        return;
                    }

                    //alert(result.info);

                    $("#txtBarcode").val(result.info);

                }, function (xhq, textStatus, errorThrown) {
                    // 关闭等待层
                    hideLoading();
                    alert(errorThrown);
                });
        }

        // 保存读者信息
        function save(opeType) {

            // 是否通过
            var pass = false;
            if (opeType == "reviewPass")
                pass = true;

            // 通过的时候，把状态置为空。
            var state = "";
            if (pass == false)
                state = "审核不通过";

            // 不通过时需要填写原因
            var reason = $("#txtReason").val();
            if (opeType != "reviewPass") {
                // 证条码号
                if (reason == "") {
                    alert("请输入审核不通过原因！");
                    return;
                }
            }

            // 图书馆id
            var libId = getLibId();
            if (libId == "") {
                alert("异常情况：libId为空。");
                return;
            }

            var libraryCode = $("#libraryCode").text();
            if (libraryCode == null)
                libraryCode = "";

           

            // 当前绑定的工作人员帐号
            var userName = $("#_userName").text();
            if (userName == "") {
                alert("异常情况：userName为空。");
                return;
            }

            // 记录路径 _recPath
            var recPath = "";
            recPath = $("#_recPath").text();
            if (recPath == "") {
                alert("异常情况：读者记录路径为空");
                return;
            }

            // 时间戳
            var timestamp = "";
            timestamp = $("#_timestamp").text();
            if (timestamp == "") {
                alert("异常情况：timestamp为空");
                return;
            }

            // 证条码号
            var readerBarcord = $("#txtBarcode").val();
            // 不论是否通过，证条码号都不能设置为空
            if (readerBarcord == "") {
                alert("读者证条码号不能为空。");
                return;
            }


            //审核通过的话，需要选择读者类型
            var readerType = $('#selReaderType option:checked').val();
            if (pass == true) {
                if (readerType == "") {
                    alert("您尚未选择读者类别。");
                    return;
                }

                if (readerType == "" || readerType.indexOf("临时读者") != -1) {
                    alert("审核通过时，需为读者选择正式的读者类型。");
                    return;
                }
            }


            var nIndex = readerType.indexOf("}");
            if (nIndex != -1) {
                readerType = readerType.substring(nIndex + 1).trim();
            }

            //姓名
            var name = $("#txtName").val();
            if (name == "") {
                alert("姓名不能为空！");
                return;
            }

            //性别
            var gender = $('#selGender option:checked').val();
            if (gender == "") {
                alert("尚未选择性别。");
                return;
            }

            // 单位
            var department = $("#txtDepartment").val();
            if (department == "") {
                alert("单位不能为空。");
                return;
            }

            // 手机号
            var phone = $("#txtPhone").val();
            if (phone == "") {
                alert("手机号不能为空。");
                return;
            }

            // 2020/10/19 如果有座机号，加上座机号
            var tel = $("#txtTel").val();
            if (tel != null && tel != "") {
                phone = phone + "," + tel;
            }

            //显示等待图层
            showMaskLayer();

            var bMergeInfo = true;
            // 调Patron的SetPatron()
            var url = "/api/PatronApi?libId=" + libId
                + "&userName=" + encodeURIComponent(userName)
                + "&opeType=" + encodeURIComponent(opeType)
                + "&recPath=" + encodeURIComponent(recPath)
                + "&timestamp=" + encodeURIComponent(timestamp)
                + "&weixinId=";
            sendAjaxRequest(url, "POST",
                function (result) {

                    // 关闭等待层
                    hideMaskLayer();

                    if (result.errorCode == -1) {
                        alert(result.errorInfo);
                        return;
                    }

                    // 当通过的情况下，如果存在同名读者，询问是否继续
                    if (pass == true) {
                        if (result.errorCode == -2) {
                            var gnl = confirm("系统中已存在" + result.info + "位相同姓名的读者记录[证条码号为:" + result.errorInfo + "]，确认审核通过吗?");
                            if (gnl == false) {
                                hideMaskLayer();
                                return false;
                            }
                        }
                    }

                    $("#_recPath").text(result.recPath);
                    $("#_timestamp").text(result.timestamp);

                    alert("操作成功");
                    $("#btnPass").attr("disabled", true);
                    $("#btnReject").attr("disabled", true);

                    var returnUrl = "/Patron/PatronList";
                    gotoUrl(returnUrl);

                },
                function (xhq, textStatus, errorThrown) {
                    // 关闭等待层
                    //layer.close(index);
                    hideMaskLayer();

                    alert(errorThrown);
                },
                {
                    barcode: readerBarcord,
                    readerType: readerType,
                    name: name,
                    gender: gender,
                    department: department,
                    phone: phone,
                    comment: reason,
                    state: state,
                    libraryCode: libraryCode
                }
            );
        }

        function setdept(dept) {

            if (dept == "其它") {
                $("#txtDepartment").val("");  // 注意这里一定要设成空字符串""，不能直接是val()

                $("#otherDept").css("display", "block");
            }
            else {
                $("#txtDepartment").val(dept);
                $("#otherDept").css("display", "none");
            }

            //alert("test-"+$("#txtDepartment").val());
        }



        function searchPatron() {

            //姓名
            var name = $("#txtName").val();
            if (name == "") {
                alert("姓名不能为空！");
                return;
            }

            var url = "/Patron/PatronSearch?patronName=" + encodeURIComponent(name);
            gotoUrl(url);

            //alert("按姓名检索读者,todo");
        }

        $(document).ready(function () {

            // 2021/8/2调试态显示当前操作帐号
            setOpeAccount("");

        });

    </script>
}
<span id="libId" style="display:none">@ViewBag.LibId</span>
<span id="libraryCode" style="display:none">@ViewBag.LibraryCode</span>
<span id="_userName" style="display:none">@ViewBag.userName</span>
<span id="_recPath" style="display:none">@ViewBag.recPath</span>
<span id="_timestamp" style="display:none">@ViewBag.timestamp</span>
@if (String.IsNullOrEmpty(ViewBag.Error) == false)
{
    <div class="mui-content-padded">
        <span class="errorinfo">
            @Html.Raw(ViewBag.Error)
        </span>
    </div>
}
else
{
    if (ViewBag.RedirectInfo != null && ViewBag.RedirectInfo != "")
    {
        @Html.Raw(ViewBag.RedirectInfo);
    }
    else
    {

<div class="mui-input-group">

    <!--
    <table style="width:100%">
        <tr>
            <td style="width:100%;">
                <div class="mui-input-group" style="background-color:white">
                    <div class="mui-input-row">
                        <label id="lblName" style="color:#cccccc">证条码号</label>
                        <input id='txtBarcode' type="text" class="mui-input mui-input-clear" placeholder="请输入 证条码号" value="@Model.barcode">
                    </div>
                </div>
            </td>
            <td><button onclick="getPatronBarcode()" id='login' class="" style="border:0px;margin-right:2px;width:30px;height:30px;background-image:url('../img/banshou3.jfif');background-repeat:round"></button></td>
        </tr>
    </table>
        -->

    <div class="mui-input-row ">
        <label id="lblBarcode" style="color:#cccccc;">证条码号</label>
        <input id='txtBarcode' type="text" readonly style="background-color:#eeeeee" class="mui-input mui-input-clear" value="@Model.barcode">
    </div>

    <table style="width:100%">
        <tr>
            <td style="width:100%">
                <div style="background-color:white;border:0px">
                    <div class="mui-input-row">
                        <label id="lblName" style="color:#cccccc">姓名</label>
                        <input id='txtName' type="text" class="mui-input mui-input-clear" placeholder="请输入 姓名" value="@Model.name">
                    </div>
                </div>
            </td>
            <td><button onclick="searchPatron()" id='login' class="" style="border:0px;margin-right:2px;width:32px;height:30px;background-image:url('../img/search2.jfif');background-repeat:round;"></button></td>
        </tr>
    </table>


    <!--
        <div class="mui-input-row ">
            <label id="lblName" style="color:#cccccc">姓名</label>
            <input id='txtName' type="text" class="mui-input mui-input-clear" value="@Model.name">
        </div>
    -->
    <div class="mui-input-row selArrowRightContainer">
        <label id="lblGender" style="color:#cccccc">性别</label>
        <select id="selGender" name="selGender" class='selArrowRight'>
            <option value=''>请选择 性别</option>"
            <option value="男" @ViewBag.manSel>男</option>
            <option value="女" @ViewBag.womanSel>女</option>
        </select>
    </div>
    <div class="mui-input-row selArrowRightContainer">
        <label id="lblType" style="color:#cccccc">读者类别</label>
        @Html.Raw(ViewBag.readerTypeHtml)
    </div>

    <div class="mui-input-row selArrowRightContainer">
        <label id="lblDepartment" style="color:#cccccc">部门</label>
        <select id="selDept" name="selDept" class='selArrowRight' onchange="setdept(this.value)">
            @Html.Raw(ViewBag.deptHtml)
        </select>
    </div>

    <div id='otherDept' class="mui-input-row " @Html.Raw(ViewBag.displayText)>
        <label id="lblDept" style="color:#cccccc">其它部门</label>
        <input id='txtDepartment' type="text" class="mui-input mui-input-clear" placeholder="请输入 部门" value="@Model.department">
    </div>

    <div class="mui-input-row ">
        <label id="lblPhone" style="color:#cccccc">手机号</label>
        <input id='txtPhone' type="text" class="mui-input mui-input-clear" value="@ViewBag.PurePhone" placeholder="请输入 手机号">
    </div>
    <div class="mui-input-row ">
        <label id="lblTel" style="color:#cccccc">座机</label>
        <input id='txtTel' type="text" class="mui-input mui-input-clear" value="@ViewBag.PureTel" placeholder="请输入 座机">
    </div>

    <div class="mui-input-row ">
        <label id="lblReason" style="color:#cccccc">不通过原因</label>
        <input id='txtReason' type="text" class="mui-input mui-input-clear" placeholder="请输入 不通过原因">
    </div>

</div>
        <div class="mui-content-padded">
            <table style="width:100%">
                <tr>
                    <td>
                        <button id='btnPass' class="mui-btn mui-btn-block mui-btn-default" onclick="save('reviewPass')">通过</button>
                    </td>
                    <td width="10px">&nbsp;</td>
                    <td>
                        <button id='btnReject' class="mui-btn mui-btn-block mui-btn-default" onclick="save('reviewNopass')">不通过</button>
                    </td>
                    <td width="10px">&nbsp;</td>
                    <td>
                        <button id='btnRejectDel' class="mui-btn mui-btn-block mui-btn-default" onclick="save('reviewNopassDel')">不通过+删除</button>
                    </td>
                </tr>
            </table>

        </div>
    }
}

