@model dp2weixin.service.Patron
@section style {
    <link href="@Url.Content("~/Content/patron.css?a=2")" rel="stylesheet">
}

@section header {
    <h1 class="mui-title">我的信息</h1>
}

@section Scripts {
    <script>

        // 跳转到修改手机号界面
        function gotoChangePhone() {

            var gnl = confirm("您确认要修改手机号吗?");
            if (gnl == false) {
                return false;
            }
            //alert("1");
            var url = "/Patron/ChangePhone";
            gotoUrl(url);
        }

        function deletePatron() {

            //alert("1");


            // 图书馆ID
            var libId = getLibId();
            if (libId == "") {
                alert("异常情况：libId为空。");
                return;
            }


            // 读者路径
            var recPath = $("#_recPath").text();
            if (recPath == "") {
                alert("异常情况：读者记录路径为空");
                return;
            }
            //alert(recPath);



            // 本地帐号id
            var userItemId = $("#_userItemId").text();
            if (userItemId == "") {
                alert("异常情况：本地帐号id为空");
                return;
            }
            //alert(recPath);

            var gnl = confirm("您确认要删除个人信息吗，删除后无法再查看以前的借还历史?");
            if (gnl == false) {
                return false;
            }


            // 读者状态
            var state = $("#_state").text();
            // 只有状态为 待审核 或者 为正常状态即空情况才允许读者自己删除。
            if (state != "待审核" && state !="") {
                alert("您的状态不符合删除要求，不能删除，请联系系统管理员。");
                return;
            }
            //alert(state);

            var timestamp= $("#_timestamp").text();

            // 调setReaderInfo接口删除读者
            //显示等待图层
            showMaskLayer();

            // 调Patron的SetPatron()
            var url = "/api/PatronApi?libId=" + libId
                + "&userName=" //+ encodeURIComponent(userName)
                + "&action=delete"// + encodeURIComponent(action)
                + "&recPath=" + encodeURIComponent(recPath)
                + "&timestamp="+ encodeURIComponent(timestamp)
                + "&weixinId=" //+ encodeURIComponent(weixinId)
                //+ "&bMergeInfo=false"
                + "&checkNull=false"; //+ bMergeInfo;

            sendAjaxRequest(url, "POST",
                function (result) {

                    //alert("2");
                    // 关闭等待层
                    hideMaskLayer();

                    if (result.errorCode == -1) {
                        alert(result.errorInfo);
                        return;
                    }

                    // 2020-3-12 去掉这项
                    //$("#_recPath").text(result.recPath);

                    alert("删除成功。");

                    //清空编辑界面信息,todo

                    //$("#txtPhone").val("");
                    //$("#txtVerifyCode").val("");
                    // $("#_verifyCode").text("");

                    // var tempBarcode = result.info;

                    // 转到个人信息
                    var returnUrl = "/Patron/PersonalInfo";
                    gotoUrl(returnUrl);
                },
                function (xhq, textStatus, errorThrown) {
                    // 关闭等待层
                    hideMaskLayer();
                    alert(errorThrown);
                },
                {
                    barcode: userItemId,    // 如果是删除，传的是本地userItem表中的id
                    readerType: "",
                    name: "",
                    gender: "",
                    department: "",
                    phone: "",  //只修改手机号
                    libraryCode: ""
                }
            );


        }
    </script>
}

@if (String.IsNullOrEmpty(ViewBag.Error) == false)
{
    <div class="mui-content-padded">
        <span class="errorinfo">
            @Html.Raw(ViewBag.Error)
        </span>
    </div>
}
else
{

    if (ViewBag.RedirectInfo != null && ViewBag.RedirectInfo != "")
    {
        @Html.Raw(ViewBag.RedirectInfo);
    }
    else
    {
        <span id="_recPath" style="display:none">@Model.recPath</span>
        <span id="_state" style="display:none">@Model.state</span>
        <span id="_userItemId" style="display:none">@ViewBag.userItemId</span>
        <span id="_timestamp" style="display:none">@ViewBag.timestamp</span>

        <ul class="mui-table-view">
            <li class="mui-table-view-cell">
                <a class="mui-navigate-right" href="@ViewBag.overdueUrl">
                    <table class="patronSubMenu">
                        <tr>
                            <td class="left">待交费<span>@Html.Raw(Model.OverdueCountHtml)</span></td>
                            <td class="right">
                                @if (Model.OverdueCount > 0)
                                {
                                    <span class="mui-badge amerceNum">@Model.OverdueCount</span>
                                    <span class="rightText">待交</span>
                                }
                            </td>
                        </tr>
                    </table>
                </a>
            </li>
            <li class="mui-table-view-cell">
                <a class="mui-navigate-right" href="@ViewBag.borrowUrl">
                    <table class="patronSubMenu">
                        <tr>
                            <td class="left">在借<span>@Html.Raw(Model.BorrowCountHtml)</span></td>
                            <td class="right">
                                @if (Model.CaoQiCount > 0)
                                {
                                    <span class="mui-badge overdueNum">@Model.CaoQiCount</span>
                                    <span class="rightText">超期</span>
                                }
                            </td>
                        </tr>
                    </table>
                </a>
            </li>
            <li class="mui-table-view-cell">
                <a class="mui-navigate-right" href="@ViewBag.reservationUrl">
                    <table class="patronSubMenu">
                        <tr>
                            <td class="left">预约<span>@Html.Raw(Model.ReservationCountHtml)</span></td>
                            <td class="right">
                                @if (Model.ArrivedCount > 0)
                                {
                                    <span class="mui-badge arriveNum">@Model.ArrivedCount </span>
                                    <span class="rightText">到书</span>
                                }
                            </td>
                        </tr>
                    </table>
                </a>
            </li>
            <li class="mui-table-view-cell">
                <a class="mui-navigate-right" href="~/Account/ChangePassword">
                    <table style="width:100%;vertical-align:central">
                        <tr>
                            <td style="text-align:left">修改密码</td>
                            <td style="text-align:right;padding-right:20px">
                                &nbsp;
                            </td>
                        </tr>
                    </table>
                </a>
            </li>
        </ul>


        <br />

        <table class='personalinfo'>
            <tr class='barcode'> <td class='name'>证条码号</td> <td class='value'>@Model.barcode</td> </tr>
            <tr class='person_name'> <td class='name'>姓名</td> <td class='value'>@Model.name</td> </tr>
            <tr> <td class='name'>性别</td> <td class='value'>@Model.gender</td> </tr>
            <tr class='state'> <td class='name'> 证状态</td> <td class='value'>@Model.state</td> </tr>
            <tr> <td class='name'>电话</td> <td class='value'>@Model.phone   <button type="button" onclick="gotoChangePhone()">修改手机号</button></td> </tr>
            <tr> <td class='name'>读者类型</td> <td class='value'>@Model.readerType</td> </tr>
            <tr> <td class='name'>单位</td> <td class='value'>@Model.department</td> </tr>
            <tr> <td class='name'>出生日期</td> <td class='value'>@Model.dateOfBirth</td> </tr>
            <tr> <td class='name'>证号</td> <td class='value'>@Model.cardNumber</td> </tr>
            <tr> <td class='name'>身份证号</td> <td class='value'>@Model.idCardNumber</td> </tr>
            <tr> <td class='name'>职务</td> <td class='value'>@Model.post</td> </tr>
            <tr> <td class='name'>地址</td> <td class='value'>@Model.address</td> </tr>
            <tr> <td class='name'>Email</td> <td class='value'>@Model.email</td> </tr>
            <tr class='createdate'> <td class='name'>发证日期</td> <td class='value'>@Model.createDate</td> </tr>
            <tr class='expiredate'> <td class='name'>证失效期</td> <td class='value'>@Model.expireDate</td> </tr>
            <tr class='hire'> <td class='name'>租金</td> <td class='value'>@Model.hire</td> </tr>
            <tr class='photo'>
                <td class='name'>头像</td>
                <td class='value'>
                    @if (String.IsNullOrEmpty(Model.imageUrl) == false)
                    {
                        <img src="@Model.imageUrl" style="max-width:200px" />
                    }
                </td>
            </tr>
            <tr><td colspan="2"><button type="button" onclick="deletePatron()">删除</button></td></tr>
        </table>
        <div class="mui-content-padded">
            <center>
                <img id="qrcode" src="@Model.qrcodeUrl" alt='QRCode image' />
                <div style="font-size:9pt">(不要把二维码展示和提供给无关人员，以免账号被窃。)</div>
            </center>
        </div>
    }
}