@model dp2weixin.service.Patron
@section style {
<link href="@Url.Content("~/Content/patron.css?a=1")" rel="stylesheet">
}

@section header {
    <h1 class="mui-title">我的信息</h1>
}

@if (String.IsNullOrEmpty(ViewBag.Error) == false)
{
    <div class="mui-content-padded">
        <span class="errorinfo">
            @Html.Raw(ViewBag.Error)
        </span>
    </div>
}
else
{

    if (ViewBag.RedirectInfo != null && ViewBag.RedirectInfo != "")
    {
        @Html.Raw(ViewBag.RedirectInfo);
    }
    else
    {
        <ul class="mui-table-view">
            <li class="mui-table-view-cell">
                <a class="mui-navigate-right" href="@ViewBag.overdueUrl">
                    <table class="patronSubMenu">
                        <tr>
                            <td class="left">待交费<span>@Html.Raw(Model.OverdueCountHtml)</span></td>
                            <td class="right">
                                @if (Model.OverdueCount > 0)
                                {
                                    <span class="mui-badge amerceNum">@Model.OverdueCount</span>
                                    <span class="rightText">待交</span>
                                }
                            </td>
                        </tr>
                    </table>
                </a>
            </li>
            <li class="mui-table-view-cell">
                <a class="mui-navigate-right" href="@ViewBag.borrowUrl">
                    <table class="patronSubMenu">
                        <tr>
                            <td class="left">在借<span>@Html.Raw(Model.BorrowCountHtml)</span></td>
                            <td class="right">
                                @if (Model.CaoQiCount > 0)
                                {
                                    <span class="mui-badge overdueNum">@Model.CaoQiCount</span>
                                    <span class="rightText">超期</span>
                                }
                            </td>
                        </tr>
                    </table>
                </a>
            </li>
            <li class="mui-table-view-cell">
                <a class="mui-navigate-right" href="@ViewBag.reservationUrl">
                    <table class="patronSubMenu">
                        <tr>
                            <td class="left">预约<span>@Html.Raw(Model.ReservationCountHtml)</span></td>
                            <td class="right">
                                @if (Model.ArrivedCount > 0)
                                {
                                    <span class="mui-badge arriveNum">@Model.ArrivedCount </span>
                                    <span class="rightText">到书</span>
                                }
                            </td>
                        </tr>
                    </table>
                </a>
            </li>
            <li class="mui-table-view-cell">
                <a class="mui-navigate-right" href="~/Account/ChangePassword">
                    <table style="width:100%;vertical-align:central">
                        <tr>
                            <td style="text-align:left">修改密码</td>
                            <td style="text-align:right;padding-right:20px">
                                &nbsp;
                            </td>
                        </tr>
                    </table>
                </a>
            </li>
        </ul>


        <br />

        <table class='personalinfo'>
            <tr class='person_name'> <td class='name'>姓名</td> <td class='value'>@Model.name</td> </tr>
            <tr> <td class='name'>性别</td> <td class='value'>@Model.gender</td> </tr>
            <tr> <td class='name'>出生日期</td> <td class='value'>@Model.dateOfBirth</td> </tr>
            <tr> <td class='name'>证号</td> <td class='value'>@Model.cardNumber</td> </tr>
            <tr> <td class='name'>身份证号</td> <td class='value'>@Model.idCardNumber</td> </tr>
            <tr> <td class='name'>单位</td> <td class='value'>@Model.department</td> </tr>
            <tr> <td class='name'>职务</td> <td class='value'>@Model.post</td> </tr>
            <tr> <td class='name'>地址</td> <td class='value'>@Model.address</td> </tr>
            <tr> <td class='name'>电话</td> <td class='value'>@Model.tel</td> </tr>
            <tr> <td class='name'>Email</td> <td class='value'>@Model.email</td> </tr>
            <tr class='barcode'> <td class='name'>证条码号</td> <td class='value'>@Model.barcode</td> </tr>
            <tr> <td class='name'>读者类型</td> <td class='value'>@Model.readerType</td> </tr>
            <tr class='state'> <td class='name'> 证状态</td> <td class='value'>@Model.state</td> </tr>
            <tr class='createdate'> <td class='name'>发证日期</td> <td class='value'>@Model.createDate</td> </tr>
            <tr class='expiredate'> <td class='name'>证失效期</td> <td class='value'>@Model.expireDate</td> </tr>
            <tr class='hire'> <td class='name'>租金</td> <td class='value'>@Model.hire</td> </tr>
            <tr class='photo'>
                <td class='name'>头像</td>
                <td class='value'>
                    @if (String.IsNullOrEmpty(Model.imageUrl) == false)
                    {
                        <img src="@Model.imageUrl" style="max-width:200px" />
                    }
                </td>
            </tr>
        </table>
        <div class="mui-content-padded">
            <center>
                <img id="qrcode" src="@Model.qrcodeUrl" alt='QRCode image' />
                <div style="font-size:9pt">(不要把二维码展示和提供给无关人员，以免账号被窃。)</div>
            </center>
        </div>
    }
}