
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script>

        // 展开关闭分馆
        function expand(obj, name) {
            //alert(name);
            var text = $(obj).html();
            name = "#" + name;

            if (text == "+") {
                $(obj).html("-");
                $(name).css('display', 'block');
            }
            else {
                $(obj).html("+");
                $(name).css('display', 'none');
            }
        }

        //保存选择的图书馆到服务器
        function saveLib() {

            //alert("走到saveLib");
            // 微信id
            var weixinId = $("#weixinId").text();
            if (weixinId == "") {
                alert("weixinId不能为空。");
                return;
            }

            var lib = $("input[name='rdLib']:checked").val();//getLib();
            if (lib == null || lib == "") {
                alert("lib未设置");
                return;
            }
            //alert("[" + lib + "]");

            //显示等待图层
            showMaskLayer();

            //window.setTimeout("hideMaskLayer()", 5000);
            var url = "/api2/WxUserApi/SetLibId?weixinId=" + weixinId
                + "&libId=" + encodeURIComponent(lib);
            //alert(url);
            sendAjaxRequest(url, "POST",
                function (result) {

                    //alert("1");

                    // 关闭等待层
                    //layer.close(index);
                    hideMaskLayer();

                    if (result.errorCode == -1) {
                        alert(result.errorInfo);
                        return;
                    }

                    //alert("成功返回");

                    // 返回到来源页
                    var returnUrl = $("#returnUrl").text();
                    if (returnUrl != null && returnUrl != "") {
                        gotoUrl(returnUrl);
                    }
                    else {
                        // 重新加载页面
                        window.location.reload();
                    }


                },
                function (xhq, textStatus, errorThrown) {
                    // 关闭等待层
                    hideMaskLayer();

                    //alert("3");
                    alert(errorThrown);
                });

            //var url = "/Patron/Setting";
            //gotoUrl(url);

        }




    </script>
}
@section header {
    <h1 class="mui-title">选择图书馆</h1>
}
<span id="weixinId" style="display:none">@ViewBag.weixinId</span>
<span id="returnUrl" style="display:none">@ViewBag.returnUrl</span>
<span id="workerId" style="display:none">@ViewBag.workerId</span>
<span id="bindUserId" style="display:none">@ViewBag.bindUserId</span>

@if (String.IsNullOrEmpty(ViewBag.Error) == false)
{
    <div class="mui-content-padded">
        <span class="errorinfo">
            @Html.Raw(ViewBag.Error)
        </span>
    </div>
}
else
{
    <div class="mui-card" style="margin-top:10px">
        @if (ViewBag.areaList != null)
        {
            foreach (dp2weixin.service.Area area in ViewBag.areaList)
            {
                if (area.visible == false)
                {
                    continue;
                }

                <div style="padding-left:10px">
                    <label>@area.name &nbsp;<span style="color:#cccccc;font-size:18pt" onclick="expand(this,'area-@area.name')">-</span></label>
                    <div style="padding-left:10px" id="area-@area.name">
                        @foreach (dp2weixin.service.LibModel lib in area.libs)
                        {

                            <div class="mui-input-row mui-radio mui-left">
                                <label>@lib.name <span style="color:red">@lib.bindFlag</span></label>
                                <input id='rdLib' name="rdLib" type="radio" @lib.Checked onchange='saveLib()' value='@lib.FullLibId'>
                            </div>

                        }
                    </div>
                </div>
            }

        }



    </div>

    <div  style="margin-top:10px;margin-left:10px"><a href="~/Patron/SelectLib?returnUrl=@ViewBag.returnUrl">选择其它图书馆</a></div>
}