@section Scripts {
    <script>

        // 绑定账号
        function save() {

            //alert("save");

            // 图书馆
            var libId = $("#selLib").val();
            if (libId == "" || libId == null) {
                alert("您尚未选择图书馆。");
                return;
            }

            //alert(libId);

            // 微信id
            var weixinId = $("#weixinId").text();
            if (weixinId == "") {
                alert("weixinId不能为空。");
                return;
            }

            // 显示图片
            var showPhoto = getShowPhoto();
            var showCover = getShowCover();

            //alert("photo=["+showPhoto+"] cover=["+showCover+"]");

            //显示等待图层
            //var index = loadLayer();
            showMaskLayer();

            // setting()
            var url = "/api/wxuser?weixinId=" + weixinId;
            sendAjaxRequest(url, "POST",
                function (result) {

                    //cbBlur();

                    // 关闭等待层
                    //layer.close(index);
                    hideMaskLayer();

                    if (result.errorCode == -1) {
                        alert(result.errorInfo);
                        return;
                    }

                    // 重新加载页面
                    window.location.reload();

                    /*
                    var oldName = $("#_libName").text();
                    var libName = $("#selLib  option:selected").text();

                    // 更新消息标题 
                    var tracingTitle = "监控本馆消息";
                    if (libName == "数字平台")
                    {
                        tracingTitle = "监控所有图书馆的消息";
                    }
                    $("#tracingTitle").text(tracingTitle);

                    // 更新到顶部
                    libName = "[" + libName + "]"
                    $("#_libName").text(libName);

                    */



                    // 不弹出成功提示，保持在本页
                    /*
                    alert("保存成功");

                    // 返回到来源页
                    var returnUrl = $("#returnUrl").text();
                    if (returnUrl == null || returnUrl == "") {
                        returnUrl = "/Library/Home"; //转到图书馆介绍
                        gotoUrl(returnUrl);
                    }
                    else {
                        if (returnUrl.indexOf("/Biblio/Index") != -1 && oldName == libName) {
                            //alert("1");
                            window.history.go(-1);
                        }
                        else {
                            //gotoUrl(returnUrl);

                            var myUrl = window.location.protocol + '//' + window.location.host + returnUrl;
                            window.location = myUrl;
                        }
                    }
                    */
                },
                function (xhq, textStatus, errorThrown) {

                    // 关闭等待层
                    //layer.close(index);
                    hideMaskLayer();

                    alert(errorThrown);

                },
                {
                    weixinId: weixinId,
                    libId: libId,
                    showPhoto: showPhoto,
                    showCover: showCover
                }
            );
        }


        function getShowPhoto() {
            var count = 0;
            $("#ckbPhoto:checked").each(function () {
                count = 1;
            });
            return count
        }


        function getShowCover() {
            var count = 0;
            $("#ckbCover:checked").each(function () {
                count = 1;
            });
            return count
        }

        function updateTracing() {

            // 工作人员 在微信用户表的id
            var workerId = $("#workerId").text();
            if (workerId == "") {
                alert("workerId不能为空。");
                return;
            }
            //alert(workerId);

            var tracing = getTracing();
            if (tracing == "on") {
                $("#ckbMask").removeAttr("disabled");
                //$("#ckbMask").prop("checked", true);
            }
            else {
                $("#ckbMask").prop("checked", false);
                $("#ckbMask").attr("disabled", true);
            }

            var mask = getMask();
            tracing = tracing + mask;

            //显示等待图层
            showMaskLayer();

            // setting()
            var url = "/api/wxuser?workerId=" + workerId
                + "&tracing=" + tracing;
            //alert(url);
            sendAjaxRequest(url, "POST",
                function (result) {

                    // 关闭等待层
                    hideMaskLayer();

                    if (result.errorCode == -1) {
                        alert(result.errorInfo);
                        return;
                    }

                    //alert("ok");
                },
                function (xhq, textStatus, errorThrown) {

                    // 关闭等待层
                    hideMaskLayer();

                    alert(errorThrown);

                });


        }


        function getTracing() {
            var tracing = "off";
            $("#ckbTracing:checked").each(function () {
                tracing = "on";
            });
            return tracing
        }

        function getMask() {

            var bchecked = false;
            $("#ckbMask:checked").each(function () {
                bchecked = true;
            });

            var text = "";
            if (bchecked == false)
            {
                text = " -mask";
            }

            return text
        }

        //===
        // 在分馆上选择
        function selSubLib(obj) {

            var subLib = $(obj).val();
            //alert(subLib);

            var name = "#lib-" + subLib;
            //alert(name);

            var checked = $(obj).prop("checked");
            if (checked == true) {
                //alert("选中");
                var list = $(name).find(".location").prop("checked", true);;
            }
            else {
                //alert("取消");
                var list = $(name).find(".location").prop("checked", false);;
                //alert(list.length);
            }

            // 保存
            saveLoc();
        }

        // 选择馆藏地
        function selLoc(obj) {
            var id = $(obj).attr('id');

            //
            var subLib = id.substring(id.indexOf('-') + 1);
            var ckbSubLib = "#ckbSubLib-" + subLib;

            var checked = $(obj).prop("checked");
            if (checked == true) {
                if ($(ckbSubLib).prop("checked") == false) {
                    $(ckbSubLib).prop("checked", true);
                }
            }
            else {
                var name1 = "#lib-" + subLib;
                var checkedCount = 0;

                $(name1).find(".location").each(function () {
                    if ($(this).prop("checked") == true)
                        checkedCount++;
                });

                if (checkedCount == 0) {
                    $(ckbSubLib).prop("checked", false);
                }
            }

            // 保存
            saveLoc();
        }



        // 获取全部选中的馆藏地
        function getLocation() {
            var xml = "";

            //
            $(".library:checked").each(function () {

                var libcode = $(this).val();
                xml += "<library code='"+libcode+"'>";

                var name = "#ckbLocation-"+libcode+":checked";
                $(name).each(function () {

                    var loc = $(this).val();
                    xml+= "<item>"+loc+"</item>";

                });

                xml += "</library>";

            });

            if (xml != "")
                xml = "<root>"+xml+"</root>";


            return xml
        }

        // 展开关闭分馆
        function expand(obj, name) {
            //alert(name);
            var text = $(obj).html();
            name = "#" + name;

            if (text == "+") {
                $(obj).html("-");
                $(name).css('display', 'block');
            }
            else {
                $(obj).html("+");
                $(name).css('display', 'none');
            }
        }

        //保存选择的馆藏地到服务器
        function saveLoc() {

            // 工作人员 在微信用户表的id
            var userId = $("#userId").text();
            if (userId == "") {
                alert("userId。");
                return;
            }
            var locations = getLocation();
            //alert("["+locations+"]");

            //return;

            //显示等待图层
            showMaskLayer();

            //window.setTimeout("hideMaskLayer()", 5000);
            var url = "/api/wxuser?userId=" + userId
            + "&locations=" + encodeURIComponent(locations)
            sendAjaxRequest(url, "POST",
                function (result) {

                    // 关闭等待层
                    //layer.close(index);
                    hideMaskLayer();

                    if (result.errorCode == -1) {
                        alert(result.errorInfo);
                        return;
                    }

                },
                function (xhq, textStatus, errorThrown) {
                    // 关闭等待层
                    hideMaskLayer();
                    alert(errorThrown);
                });

        }


        function getVerifyBarcode() {
            var count = 0;
            $("#ckbVerifyBarcode:checked").each(function () {
                count = 1;
            });
            return count
        }
        //保存是否校验条码
        function saveVerifyBarcode() {

            // 工作人员 在微信用户表的id
            var userId = $("#userId").text();
            if (userId == "") {
                alert("userId。");
                return;
            }
            var verifyBarcode = getVerifyBarcode();
            //alert("[" + verifyBarcode + "]");


            //显示等待图层
            showMaskLayer();

            //window.setTimeout("hideMaskLayer()", 5000);
            var url = "/api/wxuser?userId=" + userId
            + "&verifyBarcode=" + encodeURIComponent(verifyBarcode)
            sendAjaxRequest(url, "POST",
                function (result) {

                    // 关闭等待层
                    //layer.close(index);
                    hideMaskLayer();

                    if (result.errorCode == -1) {
                        alert(result.errorInfo);
                        return;
                    }

                },
                function (xhq, textStatus, errorThrown) {
                    // 关闭等待层
                    hideMaskLayer();
                    alert(errorThrown);
                });

        }

    </script>
}
@section header {
    <h1 class="mui-title">设置</h1>
}
<span id="weixinId" style="display:none">@ViewBag.weixinId</span>
<span id="returnUrl" style="display:none">@ViewBag.returnUrl</span>
<span id="workerId" style="display:none">@ViewBag.workerId</span>
<span id="userId" style="display:none">@ViewBag.userId</span>

@if (String.IsNullOrEmpty(ViewBag.Error) == false)
{
    <div class="mui-content-padded">
        <span class="errorinfo">
            @Html.Raw(ViewBag.Error)
        </span>
    </div>
}
else
{
    <div class="mui-input-group" style="background-color:white">
        <div class="mui-input-row" style=" background-image:url('../img/arrowright.png');background-position:right;background-repeat:no-repeat">
            <label style="color:#cccccc;">图书馆</label>
            @Html.Raw(ViewBag.LibHtml)
        </div>
        </div>
    <div class="mui-card" style="margin-top:10px">
        <div class='mui-input-row mui-checkbox mui-left'>
            <label>显示头像</label>
            <input id='ckbPhoto' onchange="save()" type='checkbox' @ViewBag.photoChecked />
        </div>
        <div class='mui-input-row mui-checkbox mui-left'>
            <label>显示图书封面</label>
            <input id='ckbCover' onchange="save()" type='checkbox' @ViewBag.coverChecked />
        </div>
    </div>
    
    {
        string style = "";
        string disabledstr = "";
        if (String.IsNullOrEmpty(ViewBag.workerId) == true)
        {
            style = "color:#cccccc";
            disabledstr = "disabled";
        }
        <div class="mui-card" style="margin-top:10px">
            <div class='mui-input-row mui-checkbox mui-left'>
                <label><span style='@style' id="tracingTitle">@ViewBag.info</span><span style="color:#cccccc">（工作人员有效）</span></label>
                <input id='ckbTracing' @disabledstr onchange="updateTracing()" type='checkbox' @ViewBag.tracingChecked />
            </div>
            <div class='mui-input-row mui-checkbox mui-left'>
                <label><span style='@style'>监控消息隐藏敏感字段</span></label>
                <input id='ckbMask' @disabledstr onchange="updateTracing()" type='checkbox' @ViewBag.maskChecked />
            </div>
        </div>
    }

    <div class="mui-card" style="margin-top:10px">
        <div class="mui-content-padded" ><span style="@ViewBag.subLibGray">流通操作限定范围</span><span style="color:#cccccc">（工作人员 或 有流通权限的读者 有效） @ViewBag.accountInfo</span> </div>
        @if (ViewBag.libList != null)
        {
            foreach (dp2weixin.service.SubLib sublib in ViewBag.libList)
            {
                <div class='mui-input-row mui-checkbox mui-left'>
                    <label>@sublib.libCode &nbsp;<span style="color:#cccccc;font-size:18pt" onclick="expand(this,'lib-@sublib.libCode')">-</span></label>
                    <input id='ckbSubLib-@sublib.libCode' class="library" type='checkbox' @sublib.Checked onchange="selSubLib(this)" value="@sublib.libCode" />
                    <div style="padding-left:30px" id="lib-@sublib.libCode">
                        @foreach (dp2weixin.service.Location location in sublib.Locations)
                        {
                            <div class='mui-input-row mui-checkbox mui-left'>
                                <label>@location.Name</label>
                                <input id='ckbLocation-@sublib.libCode' class='location' @location.Checked type='checkbox' onchange='selLoc(this)' value='@location.Name' />
                            </div>
                        }
                    </div>
                </div>
            }
            
            <div class='mui-input-row mui-checkbox mui-left' style="background-color:#eeeeee">
                <label>校验输入的条码号</label>
                <input id='ckbVerifyBarcode' type='checkbox' @ViewBag.verifyBarcode onchange='saveVerifyBarcode()'  />
            </div>
        }
        


    </div>

            <!--
            <div class="mui-content-padded">
                <button class="mui-btn mui-btn-block mui-btn-primary" onclick="save()">保存</button>
            </div>
                -->
}