@section Scripts {
    <script>

        // 绑定账号
        function save() {

            //alert("save");

            // 图书馆
            var libId = $("#selLib").val();
            if (libId == "" || libId == null) {
                alert("您尚未选择图书馆。");
                return;
            }

            // 微信id
            var weixinId = $("#weixinId").text();
            if (weixinId == "") {
                alert("weixinId不能为空。");
                return;
            }

            // 显示图片
            var showPhoto = getShowPhoto();
            var showCover = getShowCover();

            //alert("photo=["+showPhoto+"] cover=["+showCover+"]");

            //显示等待图层
            //var index = loadLayer();
            showMaskLayer();

            // setting()
            var url = "/api/wxuser?weixinId=" + weixinId;
            sendAjaxRequest(url, "POST",
                function (result) {

                    //cbBlur();

                    // 关闭等待层
                    //layer.close(index);
                    hideMaskLayer();

                    if (result.errorCode == -1) {
                        alert(result.errorInfo);
                        return;
                    }


                    var oldName = $("#_libName").text();
                    var libName = $("#selLib  option:selected").text();

                    // 更新消息标题 
                    var tracingTitle = "监控本馆消息";
                    if (libName == "数字平台")
                    {
                        tracingTitle = "监控所有图书馆的消息";
                    }
                    $("#tracingTitle").text(tracingTitle);

                    // 更新到顶部
                    libName = "[" + libName + "]"
                    $("#_libName").text(libName);





                    // 不弹出成功提示，保持在本页
                    /*
                    alert("保存成功");

                    // 返回到来源页
                    var returnUrl = $("#returnUrl").text();
                    if (returnUrl == null || returnUrl == "") {
                        returnUrl = "/Library/Home"; //转到图书馆介绍
                        gotoUrl(returnUrl);
                    }
                    else {
                        if (returnUrl.indexOf("/Biblio/Index") != -1 && oldName == libName) {
                            //alert("1");
                            window.history.go(-1);
                        }
                        else {
                            //gotoUrl(returnUrl);

                            var myUrl = window.location.protocol + '//' + window.location.host + returnUrl;
                            window.location = myUrl;
                        }
                    }
                    */
                },
                function (xhq, textStatus, errorThrown) {

                    // 关闭等待层
                    //layer.close(index);
                    hideMaskLayer();

                    alert(errorThrown);

                },
                {
                    weixinId: weixinId,
                    libId: libId,
                    showPhoto: showPhoto,
                    showCover: showCover
                }
            );
        }


        function getShowPhoto() {
            var count = 0;
            $("#ckbPhoto:checked").each(function () {
                count = 1;
            });
            return count
        }


        function getShowCover() {
            var count = 0;
            $("#ckbCover:checked").each(function () {
                count = 1;
            });
            return count
        }

        function updateTracing() {

            // 工作人员 在微信用户表的id
            var workerId = $("#workerId").text();
            if (workerId == "") {
                alert("workerId不能为空。");
                return;
            }
            //alert(workerId);

            var tracing = getTracing();
            if (tracing == "on") {
                $("#ckbMask").removeAttr("disabled");
                //$("#ckbMask").prop("checked", true);
            }
            else {
                $("#ckbMask").prop("checked", false);
                $("#ckbMask").attr("disabled", true);
            }

            var mask = getMask();
            tracing = tracing + mask;

            //显示等待图层
            showMaskLayer();

            // setting()
            var url = "/api/wxuser?workerId=" + workerId
                + "&tracing=" + tracing;
            //alert(url);
            sendAjaxRequest(url, "POST",
                function (result) {

                    // 关闭等待层
                    hideMaskLayer();

                    if (result.errorCode == -1) {
                        alert(result.errorInfo);
                        return;
                    }

                    //alert("ok");
                },
                function (xhq, textStatus, errorThrown) {

                    // 关闭等待层
                    hideMaskLayer();

                    alert(errorThrown);

                });


        }


        function getTracing() {
            var tracing = "off";
            $("#ckbTracing:checked").each(function () {
                tracing = "on";
            });
            return tracing
        }

        function getMask() {


            var bchecked = false;
            $("#ckbMask:checked").each(function () {
                bchecked = true;
            });

            var text = "";
            if (bchecked == false)
            {
                text = " -mask";
            }

            return text
        }


    </script>
}
@section header {
    <h1 class="mui-title">设置</h1>
}
<span id="weixinId" style="display:none">@ViewBag.weixinId</span>
<span id="returnUrl" style="display:none">@ViewBag.returnUrl</span>
<span id="workerId" style="display:none">@ViewBag.workerId</span>

@if (String.IsNullOrEmpty(ViewBag.Error) == false)
{
    <div class="mui-content-padded">
        <span class="errorinfo">
            @Html.Raw(ViewBag.Error)
        </span>
    </div>
}
else
{
    <div class="mui-input-group" style="background-color:white">
        <div class="mui-input-row" style=" background-image:url('../img/arrowright.png');background-position:right;background-repeat:no-repeat">
            <label style="color:#cccccc;">图书馆</label>
            @Html.Raw(ViewBag.LibHtml)
        </div>
        </div>
    <div class="mui-card" style="margin-top:10px">
        <div class='mui-input-row mui-checkbox mui-left'>
            <label>显示头像</label>
            <input id='ckbPhoto' onchange="save()" type='checkbox' @ViewBag.photoChecked />
        </div>
        <div class='mui-input-row mui-checkbox mui-left'>
            <label>显示图书封面</label>
            <input id='ckbCover' onchange="save()" type='checkbox' @ViewBag.coverChecked />
        </div>
    </div>
    {
        string style = "";
        string disabledstr = "";
        if (String.IsNullOrEmpty(ViewBag.workerId) == true)
        {
            style = "color:#cccccc";
            disabledstr = "disabled";
        }

        <div class="mui-card" style="margin-top:10px">
            <div class='mui-input-row mui-checkbox mui-left'>
                <label><span style='@style' id="tracingTitle">@ViewBag.info</span><span style="color:#cccccc">（工作人员有效）</span></label>
                <input id='ckbTracing' @disabledstr onchange="updateTracing()" type='checkbox' @ViewBag.tracingChecked />
            </div>

            <div class='mui-input-row mui-checkbox mui-left'>
                <label><span style='@style'>监控消息隐藏敏感字段</span></label>
                <input id='ckbMask' @disabledstr onchange="updateTracing()" type='checkbox' @ViewBag.maskChecked />
            </div>


        </div>
    }

            <!--
            <div class="mui-content-padded">
                <button class="mui-btn mui-btn-block mui-btn-primary" onclick="save()">保存</button>
            </div>
                -->
}