@section Scripts {
    <script>


        // 绑定账号
        function save() {

            // 图书馆
            var libId = $("#selLib").val();
            if (libId == "" || libId == null) {
                alert("您尚未选择图书馆。");
                return;
            }


            // 微信id
            var weixinId = $("#weixinId").text();
            if (weixinId == "") {
                alert("weixinId不能为空。");
                return;
            }

            // 显示图片
            var showPhoto = getShowPhoto();
            var showCover = getShowCover();

            //alert("photo=["+showPhoto+"] cover=["+showCover+"]");

            //显示等待图层
            var index = loadLayer();

            // setting()
            var url = "/api/wxuser?weixinId="+weixinId;
            sendAjaxRequest(url, "POST",
                function (result) {

                    //cbBlur();

                    // 关闭等待层
                    layer.close(index);

                    if (result.errorCode == -1) {
                        alert(result.errorInfo);
                        return;
                    }

                    // 更新到顶部
                    var oldName = $("#_libName").text();
                    var libName = $("#selLib  option:selected").text();
                    libName = "[" + libName + "]"
                    $("#_libName").text(libName);

                    alert("保存成功");

                    // 返回到来源页
                    var returnUrl = $("#returnUrl").text();
                    if (returnUrl == null || returnUrl == "") {
                        returnUrl = "/Library/Home"; //转到图书馆主页
                        gotoUrl(returnUrl);
                    }
                    else {
                        if (returnUrl.indexOf("/Biblio/Index") != -1 && oldName == libName) {
                            //alert("1");
                            window.history.go(-1);
                        }
                        else {
                            //gotoUrl(returnUrl);

                            var myUrl = window.location.protocol + '//' + window.location.host + returnUrl;
                            window.location = myUrl;
                        }
                    }

                    //
                },
                function (xhq, textStatus, errorThrown) {
                    alert(errorThrown);
                    // 关闭等待层
                    layer.close(index);
                },
                {
                    weixinId: weixinId,
                    libId: libId,
                    showPhoto: showPhoto,
                    showCover: showCover                    
                }

            );


        }


        function getShowPhoto() {
            var count = 0;
            $("#ckbPhoto:checked").each(function () {
                count = 1;
            });
            return count
        }


        function getShowCover() {
            var count = 0;
            $("#ckbCover:checked").each(function () {
                count = 1;
            });
            return count
        }

        // checkbox获得焦点
        function cbFocus() {
            if (browser.versions.iPhone == true) {
                //alert("focus");
                setShowValue(false);
                window.setTimeout("showTopBottom()", 1);
            }
        }

        // checkbox失去焦点
        function cbBlur() {
            if (browser.versions.iPhone == true) {
                //alert("blur");
                setShowValue(true);
                window.setTimeout("showTopBottom()", 1);
            }
        }

        function showTop() {
            $("#myheader").css('display', 'block');
        }

        //$(document).ready调用是jQuery推迟函数执行的一项标准技术，
        //它直到浏览器加载并处理了文档的所有HTML元素之后才会执行。
        $(document).ready(function () {

            //// checkbox获得与失去焦点在iphone的微信浏览器表示异常，不能自动触发focus与blur事件
            //$('input:checkbox').change(function () {

            //    //当先选择图书馆，出现列表时点击checkbox，会出现下方菜单，
            //    // 设置该值，保证不出现菜单
            //    //setShowValue(false);
            //    //this.focus(); // 不用this.focus是因为这样可以免去 不与select交叉时，不必修改菜单隐藏

            //    // 只显示头部，不显示尾部，是因为尾部的位置怎么搞都是在中间。
            //    //window.setTimeout("showTop()", 100); //

            //});

        })

    </script>
}
@section header {
    <h1 class="mui-title">设置</h1>
}
<span id="weixinId" style="display:none">@Session[dp2weixin.service.WeiXinConst.C_Session_WeiXinId]</span>
<span id="returnUrl" style="display:none">@ViewBag.returnUrl</span>
<div class="mui-input-group">
    <div class="mui-input-row ">
        <label style="color:#cccccc">当前图书馆</label>
        @Html.Raw(ViewBag.LibHtml)
    </div>

    <div class='mui-input-row mui-checkbox mui-left' >
        <label>显示头像</label>
        <input id='ckbPhoto' type='checkbox'  @ViewBag.photoChecked />
    </div>

    <div class='mui-input-row mui-checkbox mui-left' >
        <label >显示图书封面</label>
        <input id='ckbCover' type='checkbox'  @ViewBag.coverChecked />
    </div>


    </div>



<div class="mui-content-padded">
    <button class="mui-btn mui-btn-block mui-btn-primary" onclick="save()">保存</button>
</div>
