@section style {
    <link href="@Url.Content("~/Content/biblio.css?a=7")" rel="stylesheet">
}
@section Scripts {
    <script>

        //浏览器加载并处理了文档的所有HTML元素之后才会执行。
        $(document).ready(function () {

            // 设顶部菜单不固定
            $("#myheader").css("position", "absolute");

            //检查是否已经加载过了
            var o = $(".biblio");
            if (o.length > 0) {
                var recPath = $("#biblioPath").text();
                //alert(recPath);
                if (recPath != null && recPath != "") {
                    // 图书馆
                    var libId = getLibId();
                    var myhtml = getDetail(libId, recPath, o, "detail");
                }
            }
        });


                // 2016-6-17 jane 为了返回时记住展开项，expand函数由原来传一个对象，改为传一个id
        function expand(expId) {
            //根据id找到<li>元素
            var id = "#" + expId;
            var obj = $(id);

            //alert(id);
           //alert(obj);

            // 如果自己是展开状态，则收缩
            var state = $(obj).find(".mui-collapse-content").first().css("display");
            if (state == "block") { //自己本来是展开状态，要关闭
                $(obj).find(".mui-collapse-content").css("display", "none");
                $(obj).removeClass("mui-active"); 
                           // alert("1");
            }
            else {
                //其它收缩
                //$(".mui-collapse-content").css("display", "none");
                //$(".mui-collapse").removeClass("mui-active");

                //自己展开
                $(obj).find(".mui-collapse-content").css("display", "block");
                $(obj).addClass("mui-active");

                //alert("2");
            }
        }
    </script>
}

@section header {
    <h1 class="mui-title">书目信息</h1>
}
<span id="weixinId" style="display:none;">@ViewBag.weixinId</span>
<span id="patronBarcode" style="display:none">@ViewBag.PatronBarcode</span>
<span id="biblioPath" style="display:none;">@ViewBag.BiblioPath</span>

@if (String.IsNullOrEmpty(ViewBag.Error) == false)
{
    <div class="mui-content-padded">
        <span class="errorinfo">
            @Html.Raw(ViewBag.Error)
        </span>
    </div>
}
else
{

<li class='mui-table-view-cell mui-collapse' id='d1'>
    <a class='mui-navigate-right' href='javascript:void(0)' onclick="expand('d1')" style='padding-top:5px;padding-bottom:5px'>
        <table width='100%' class='result-biblio'>
            <tr><td style='width:18px;min-width:18px'>1</td><td style='padding-right:10px'><div style='width:100%; white-space:nowrap;overflow:hidden;text-overflow:ellipsis; '>test</div></td></tr>
            <tr><td>&nbsp;</td><td style='color:#cccccc'>path</td></tr>
        </table>
    </a>
    <div class='mui-collapse-content' style='display:block;padding-top: 0px;'>
        <div style="padding:10px">
            <div class='biblio'>
            </div>
        </div>
        </div>
</li>
}

