<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/favicon.ico">
    <title>@ViewBag.Title - 我爱图书馆</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/sticky-footer-navbar.css" rel="stylesheet">
    @RenderSection("style", required: false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/knockout-2.2.0.js"></script>
    <script src="/Scripts/layer.js"></script>
    <script src="/Scripts/layer.ext.js"></script>
    <link href="/skin/layer.css" type="text/css" rel="stylesheet" />
    
    <script>

        // 高亮显示当前的菜单
        $(document).ready(function () {

            // 当前菜单高亮显示
            $('ul.nav.navbar-nav').find('a[href="' + location.pathname + '"]')
                .closest('li').addClass('active');



        });
    </script>

    @RenderSection("scripts", required: false)
</head>

<body style="background-image:url(' @ilovelibrary.Server.ilovelibraryServer.Instance.TodayUrl ')">



    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/home/index">I Love Library</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a class="active" href="~/Charging/Main">出纳窗</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_LoginPartial")
                    <li>
                        <a href="~/Home/About">关于</a>
                    </li>
                    <li>
                        <a href="~/Home/Contact">联系我们</a>
                    </li>

                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Begin page content -->
    <div class="container" >

        <!--部分页占位符 -->
        @RenderBody();
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">
                Copyright © 2003-2015 Digital Platform Co. Ltd. All Rights Reserved
            </p>
        </div>
    </footer>



</body>
</html>
