@model dp2weixinWeb.Models.BookEditModel
@section Scripts {
    <script>
        // 绑定方式变化，账号提示信息跟着变化
        function prefixChange() {
            var curText = $('#selPrefix option:checked').text();
            if (curText == "请选择 绑定方式")
                curText = "账号";

            if (curText == "工作人员账户")
                curText = "账户名";

            $('#account').prop("placeholder", "请输入 " + curText);
            $('#lblAccount').html(curText)
        }


        function submitForm()
        {
            var subject = $("#_val_subject").val();
            if (subject == "") {
                alert("请选择栏目");
                return;
            }

            var title = $("#_val_title").val();
            if (title == null || title == "") {
                alert("请输入标题");
                return;
            }
            //alert("title["+title+"]");

            var content = $("#_val_content").val();
            if (content == null || content == "") {
                alert("请输入内容");
                return;
            }

            var remark = $("#_val_remark").val();

            // 注意id和name同名了还取不到值，这里使用_libId_
            var libId = $("#_libId_").val();// $("#libId").text();
            //alert("[" + libId + "]");
            if (libId == "") {
                alert("异常情况：libId为空。");
                return;
            }

            //_userName
            var userName = $("#_userName").val();// $("#libId").text();
            if (userName == "") {
                alert("异常情况：userName为空。");
                return;
            }


            //显示等待图层
            var index = loadLayer();

            var id = $("#id").val();
            var action = "";
            if (id == "" || id==null)
                action = "POST";
            else
                action = "PUT";
            var group = "gn:_lib_book";
            var url = "/api/LibMessage"
                + "?group=" + group
                + "&libId=" + libId
            + "&parameters=";
            sendAjaxRequest(url, action,
                function (result) {

                    // 关闭等待层
                    layer.close(index);

                    if (result.errorCode == -1) {
                        alert("操作失败：" + result.errorInfo);
                        return;
                    }
                    alert("操作成功");

                    // 跳转
                    var returnUrl = $("#_returnUrl").val();
                    if (returnUrl == "")
                        returnUrl = "/Library/BookSubject";
                   //alert(returnUrl);
                   if (returnUrl == "/Biblio/Index") {
                       //alert("走到这里");
                        window.history.back(-1); //返回不刷新
                    }
                    else {
                        var oldSubject = $("#_subject_").val();                        
                        if (returnUrl.indexOf("BookMsg") != -1 && oldSubject != subject) {
                            var nIndex = returnUrl.indexOf("&subject=");                            
                            var myUrl = returnUrl.substring(0, nIndex);
                            //alert("截完:" + myUrl);
                            myUrl = myUrl + "&subject=" + subject;
                            //alert("新的:" + myUrl);
                            gotoUrl(myUrl);
                        }
                        else {
                            gotoUrl(returnUrl);
                        }
                    }
                },
                function (xhq, textStatus, errorThrown) {
                    alert(errorThrown);
                    // 关闭等待层
                    layer.close(index);
                },
                {
                    id: id,
                    title: title,
                    content: content,
                    creator: userName,
                    subject: subject,
                    remark:remark
                }
            );
        }

    </script>
}
@section style {
<link href="@Url.Content("~/Content/message.css")" rel="stylesheet">
}
@section header {
    @if (string.IsNullOrEmpty(Model.id) == true)
    { 
        <h1 class="mui-title">发布好书</h1>
    }
    else
    {
        <h1 class="mui-title">更新好书</h1>
    }
}

<div>
    <input type="hidden" id="_libId_" name="_libId" value="@Model._libId" />
    <input type="hidden" id="_userName" name="_userName" value="@Model._userName" />
    <input type="hidden" id="_subject_" name="_subject" value="@Model._subject" />
    <input type="hidden" id="_returnUrl" name="_returnUrl" value="@Model._returnUrl" />
    <input type="hidden" id="id" name="id" value="@Model.id" />

    <div class="mui-card message" id="_edit_48c6cf02-ae0e-4320-b1fe-25a125e6c79c">
        <table class="edit">
            <tr>
                <td class="label">栏目</td>
                <td>
                    <div style="border:1px solid #cccccc">
                        @Html.Raw(ViewBag.SubjectHtml)
                    </div>
                    <div id="divNewSubject" style="display:none;margin-top:5px">
                        <input id="_val_subject" type="text" name="subject" value="@Model._subject" placeholder="请输入自定义栏目">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">标题</td>
                <td>
                    <input class="mui-input mui-input-clear" id="_val_title" type="text" name="title" value="@Model.title">
                </td>
            </tr>
            <tr>
                <td class="label" colspan="2">书目路径&nbsp;&nbsp;<span style="color:#cccccc">(多条书目请换行)</span>
                    <!--
                    <div style="border:1px solid #cccccc;">
                        <select id="selFormat">
                            <option value="test" selected>文本格式</option>
                            <option value="markdown">Markdown格式</option>
                        </select>
                    </div>
                        -->
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea id="_val_content" rows="5" name="content">@Model.content</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="label">注释</span>
                    <textarea id="_val_remark" rows="3" name="remark">@Model.remark</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button class="mui-btn mui-btn-block mui-btn-primary" onclick="submitForm()">
                        @if (String.IsNullOrEmpty(Model.id) == true) //( .id == "" || Model.id==null)
                        {
                            <span>发布</span>
                        }
                        else
                        {
                            <span>更新</span>
                        }

                    </button>
                    <!--
                    <button class='mui-btn mui-btn-primary' onclick="save('msgid')">发布</button>&nbsp;&nbsp;
                    <button class='mui-btn mui-btn-default' onclick="cancelEdit('msgid ')">取消</button>
                        -->
                </td>
            </tr>
        </table>
    </div>


</div>






