@model List<dp2weixin.service.MessageItem>

@section style {
    <link href="@Url.Content("~/Content/message.css?a=1")" rel="stylesheet">
}
@section Scripts {
    <script>

        function deleteMsg(msgId)
        {
            //alert(msgId);

            var titleDiv = "#title-" + msgId;
            var title = $(titleDiv).html();

            var gnl = confirm("你确定要删除公告[" + title + "]吗?");
            if (gnl == false) {
                return false;
            }

            var libId = $("#libId").text();
            if (libId == "") {
                alert("异常情况：libId为空。");
                return;
            }

            var userName = $("#userName").text();
            if (userName == "") {
                alert("异常情况：userName为空。");
                return;
            }

            //显示等待图层
            var index = loadLayer();

            var url = "/api/LibMessage?libId=" + libId
                + "&group=" + encodeURIComponent("gn:_lib_book")
                + "&msgId=" + msgId
            + "&userName=" + userName
            sendAjaxRequest(url, "DELETE", function (result) {

                // 关闭等待层
                layer.close(index);

                if (result.errorCode == -1) {
                    alert("操作失败：" + result.errorInfo);
                    return;
                }

                alert("删除成功");

                // edit div id
                var divEditId = "#_edit_" + msgId;

                // 先找到父亲，方便后面查看有没有下级message
                var msgParent = $(divEditId).parent();

                // 删除当前msg
                $(divEditId).remove();

                // 2016-8-13 jane 如果全部删除了，转到subject页面
                //alert(msgId);
                if ($(msgParent).children(".message").length == 0) {
                    //alert("没有下级了");
                    var url = "/Library/BookSubject?libId=" + libId;// + "&userName=" + userName;
                    gotoUrl(url);
                }

            }, function (xhq, textStatus, errorThrown) {
                alert(errorThrown);
            });
        }

        // 单击msg进行只读态与编辑态的切换
        function clickMsgDiv(msgId) {

            //alert(1);

            if (bClickBiblioDetail == true)
            {
                bClickBiblioDetail = false;
                return;
            }

            if (msgId == null || msgId == "") {
                alert("未传入msgId");
                return;
            }

            var userName = $("#userName").text();
            if (userName == "") {
                return;
            }

            var divId = "#_edit_" + msgId; // div的id命令规则为_edit_msgId
            var editBtn = $(divId).find("#btnEdit");

            // 这时候已经不是在浏览界面，应该是编辑态了
            var viewTable = $(divId).children(".view").html();
            if (viewTable == null || viewTable == "") {
                return;
            }

            var editStateClass = "msgEditable";
            var editState = $(divId).hasClass(editStateClass);
            if (editState == true) {
                $(divId).removeClass(editStateClass);

                $(editBtn).css("display", "none");
            }
            else {
                $(divId).addClass(editStateClass);

                $(editBtn).css("display", "block");
            }
        }

        function gotoEdit(msgId)
        {
            //alert(msgId);
            var libId = $("#libId").text();
            var userName = $("#userName").text();
            var subject = $("#subject").text();
            gotoUrl("/Library/BookEdit?libId="+libId
                +"&userName="+userName
                +"&subject="+subject
                +"&msgId="+msgId
                +"&returnUrl=" + encodeURIComponent("/Library/BookMsg?libId="+libId+"&userName="+userName+"&subject="+subject ));
        }

        // 当点击路径时，转到详细界面，该参数防止走到编辑态。
        var bClickBiblioDetail = false;
        function gotoBiblioDetail(url)
        {
            //alert("2");
            bClickBiblioDetail = true;
            gotoUrl(url);
        }

        //$(document).ready调用是jQuery推迟函数执行的一项标准技术，
        //它直到浏览器加载并处理了文档的所有HTML元素之后才会执行。
        $(document).ready(function () {

            //更新消息
            window.setTimeout("fillPending()", 1);

        })

    </script>
}
<span id="libId" style="display:none">@ViewBag.libId</span>
<span id="userName" style="display:none">@ViewBag.userName</span>
<span id="subject" style="display:none">@ViewBag.subject</span>


@section header {
    <h1 class="mui-title">@ViewBag.Subject</h1>
}

@if (String.IsNullOrEmpty(ViewBag.Error) == false)
{
    <div class="mui-content-padded">
        <span style="color:red">
            @ViewBag.Error
        </span>
    </div>
}
else
{
    if (String.IsNullOrEmpty(ViewBag.userName) == false)
    {
        <div id="divNew" class="mui-content-padded" style="display:block">
            <button class="mui-btn mui-btn-block mui-btn-primary" onclick="gotoEdit('')">
                新推荐好书
            </button>
        </div>
    }

    if (Model != null)
    {
        foreach (dp2weixin.service.MessageItem item in Model)
        {
            <div class="mui-card message" id="_edit_@item.id" onclick="clickMsgDiv('@item.id')">
                <div class="view">
                <table class="view-top">
                        <tr>
                            <td class="title" id="title-@item.id">@item.title</td>
                            <td class="btn">
                                @if (String.IsNullOrEmpty(ViewBag.userName) == false)
{
                        <div id="btnEdit" style="display: none;">
                            <button class="mui-btn mui-btn-default" onclick="gotoEdit('@item.id')">编辑</button>&nbsp;
                            <button class="mui-btn mui-btn-danger" onclick="deleteMsg('@item.id')">X&nbsp;删除</button>
                        </div>
}
                            </td>
                        </tr>
                        <tr>
                            <td class="time" colspan="2">
                                <span>@item.publishTime</span>-<span>@item.creator</span>
                            </td>
                        </tr>
                </table>
                <div class="content">@Html.Raw(item.contentHtml)</div>
                <div class="remark">@Html.Raw(item.remarkHtml)</div>
                </div>
            </div>
        }
    }
    <br />
}