@{
    ViewBag.Title = "出纳窗";
}

@section Scripts {
    <script>

        // 播放声音
        function playAudio(name)
        {
            var audio = document.getElementById(name);
            audio.play();
        }

        // 播放 扫描证条码号
        var _patronAudio = null;
        function playPatron() {
            stopAll();
            if (_patronAudio == null)
            {
                _patronAudio = document.getElementById("patronAudio");
            }
            _patronAudio.play();
        }

        function stopPatron() {
            if (_patronAudio != null) {
                _patronAudio.stop();
            }            
        }

        // 播放 扫描册条码号
        var _itemAudio = null;
        function playItem() {
            stopAll();
            if (_itemAudio == null) {
                _itemAudio = document.getElementById("itemAudio");
            }
            _itemAudio.play();
        }
        function stopItem() {
            if (_itemAudio != null) {
                _itemAudio.stop();
            }
        }

        // 播放 借书失败
        var _borrowError = null;
        function playBorrowError() {

            alert("playBorrowError");

            stopAll();
            if (_borrowError == null) {
                _borrowError = document.getElementById("borrowError");
            }
            _borrowError.play();
        }
        function stopBorrowError() {

            alert("stopBorrowError");
            if (_borrowError != null) {
                _borrowError.stop();
            }
        }

        // 播放 借书成功
        var _borrowSuccess = null;
        function playBorrowSuccess() {
            alert("playBorrowSuccess");

            stopAll();
            if (_borrowSuccess == null) {
                _borrowSuccess = document.getElementById("borrowSuccess");
            }
            _borrowSuccess.play();
        }
        function stopBorrowSuccess() {
            alert("stopBorrowSuccess");

            if (_borrowSuccess != null) {
                _borrowSuccess.stop();
            }
        }

        // 播放 还书失败
        var _returnError = null;
        function playReturnError() {
            stopAll();
            if (_returnError == null) {
                _returnError = document.getElementById("returnError");
            }
            _returnError.play();
        }
        function stopReturnError() {
            if (_returnError != null) {
                _returnError.stop();
            }
        }

        // 播放 还书成功
        var _returnSuccess = null;
        function playReturnSuccess() {
            stopAll();
            if (_returnSuccess == null) {
                _returnSuccess = document.getElementById("returnSuccess");
            }
            _returnSuccess.play();
        }
        function stopReturnSuccess() {
            if (_returnSuccess != null) {
                _returnSuccess.stop();
            }
        }

        // 播放 加载失败
        var _loadError = null;
        function playLoadError() {
            alert("playLoadError");
            stopAll();
            if (_loadError == null) {
                _loadError = document.getElementById("loadError");
            }
            _loadError.play();
        }
        function stopLoadError() {
            if (_loadError != null) {
                _loadError.stop();
            }
        }

        // 播放 加载成功
        var _loadSuccess = null;
        function playLoadSuccess() {
            alert("playLoadSuccess");
            stopAll();
            if (_loadSuccess == null) {
                _loadSuccess = document.getElementById("loadSuccess");
            }
            _loadSuccess.play();
        }
        function stopLoadSuccess() {
            if (_loadSuccess != null) {
                _loadSuccess.stop();
            }
        }

        function stopAll()
        {
            //stopPatron();
            //stopItem();
            //stopBorrowError();
            //stopBorrowSuccess();
            //stopReturnError();
            //stopReturnSuccess();
            //stopLoadError();
            //stopLoadSuccess();
        }


        // 全局变量
        var _error = "";
        var _lastMothed = "1"; //1是手工输入，2是扫码


        // 扫码
        function sweep() {

            // 设上次操作方法为 扫码
            _lastMothed = 2;

            if (jssdkReady == -1) {
                alert('JSSDK config信息验证失败，不能使用扫码功能。');
                return;
            }
            else if (jssdkReady == 0) {
                alert('JSSDK config未初始化完成，请稍候再试。');
                return;
            }


            var _charge_operation = $("#_charge_operation").val();
            var _charge_inputType = $("#_charge_inputType").val();
            var _patron = $("#_patron").val();

            var desc = "";
            if (_charge_inputType == 1) {
                desc = "请扫 证条码号";
                playPatron();//播放语音
            }
            else {
                desc = "请扫 册条码号";
                playItem();//播放语音
            }
            // 根据借 还 做操作
            if (_charge_operation == "borrow") {
                desc = "借书 " + desc;
            }
            else {
                desc = "还书 " + desc;
            }
            var error = "";

            try {
                wx.scanQRCode({
                    desc: desc,
                    needResult: 1, // 默认为0扫描结果由微信处理，1则直接返回扫描结果，
                    scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                    success: function (res) {
                        var code = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                        $("#barcode").val(code);


                        if (_charge_inputType == 2) {
                            var item = $("#barcode").val();
                            if (item.indexOf(",") != -1) {
                                var left = "";
                                var right = "";
                                left = item.substring(0, code.indexOf(","))//EAN_13
                                right = item.substring(code.indexOf(",") + 1)

                                if (left != "EAN_13" && left == "CODE_39") {
                                    $("#errorInfo").text("扫描的不是册条码或者ISBN号");
                                }
                                $("#barcode").val(right);
                            }

                        }

                        window.setTimeout("addCmd('')", 1);
                    },
                    fail: function (res) {
                        error="扫码返回出错:" + JSON.stringify(res);
                        $("#errorInfo").text(error);

                        return ;
                    }
                });
            }
            catch (err) {
                error = "扫码异常:" + err;
                $("#errorInfo").text(error);
                return;
            }
            //alert("end");
        }

        //浏览器加载并处理了文档的所有HTML元素之后才会执行。
        $(document).ready(function () {
            // 读者证条码 打回车
            $('#barcode').bind('keypress', function (event) {
                if (event.keyCode == "13") {

                    // 设上次操作方法为 手动回车
                    _lastMothed = 1;

                    addCmd();
                    //alert("a1");
                    //f(event);
                }
            });

            $('#opeName').click(function (e) {
                //

                // 设上次操作方法为 手动回车
                _lastMothed = 1;

                e.preventDefault();
                addCmd();
                //$("#barcode").val("");
                //doFocus();

            });

            // 设顶部菜单不固定
            $("#myheader").css("position", "absolute");

            var oldOpe = $("#_charge_operation").val();
            var oldInputType = $("#_charge_inputType").val(); //这个值要先取出来，否则会把setOperation函数修改
            var oldPatron = $("#_patron").val();
            if (oldOpe != null || oldOpe != "")
            {
                setOperation(oldOpe);
            }
            if (oldInputType != null && oldInputType != "")
            {
                setInput(oldInputType);
            }
            if (oldPatron != null && oldPatron != "") {
                getPatron(oldPatron);
            }



            getAllCmd();
        });

        function getPatron(patronBarcode) {
            //alert("getPatron()");

            // 将读者信息置空
            $("#patron").html("");


            // 图书馆
            var libId = getLibId();//$("#selLib").val();
            if (libId == "" || libId == null) {
                alert("您尚未选择图书馆。");
                return;
            }

            if (patronBarcode == null || patronBarcode == "") {
                alert("尚未输入读者 证条码号");
                return;
            }

            var style = "summary";

            //登录身份
            var userName = $("#_userName").text();
            var isPatron = false;


            //显示等待图层
            showLoading();

            // 调GetPatron
            var url = "/api/patron?libId=" + encodeURIComponent(libId)
                + "&userName=" + encodeURIComponent(userName)
                +"&isPatron="+isPatron
                + "&patronBarcode=" + encodeURIComponent(patronBarcode)
                + "&style=" + encodeURIComponent(style)
            //alert(url);
            sendAjaxRequest(url, "GET",
                function (result) {

                    // 关闭等待层
                    hideLoading();
                    if (result.errorCode == -1) {
                        alert("获取读者信息出错：" + result.errorInfo);
                        return;
                    }
                    // 显示读者信息
                    $("#patron").html(result.info);

                }, function (xhq, textStatus, errorThrown) {
                    // 关闭等待层
                    hideLoading();
                    alert(errorThrown);
                });
        }



        //设置输入框类型
        function setInput(type) {

            $("#barcode").val(""); //清掉输入框
            $("#patron").html(""); //清掉读者信息

            var icon = $("#icon");
            var title = $("#title");

            var oldType=-1;
            var oldTitle=$(title).text();
            if (oldTitle=="证 条码号")
                oldType==1;
            else
                oldType=2;

            if (type != oldType)
            {
                if (type == 1) {
                    //$(icon).removeClass("mui-icon-extra-xiaoshuo");
                    //$(icon).addClass("mui-icon-extra-people");

                    $("#icon1").css("display", "inline");
                    $("#icon2").css("display", "none");
                    $(title).text("证 条码号");
                }
                else {
                    //$(icon).removeClass("mui-icon-extra-people");
                    //$(icon).addClass("mui-icon-extra-xiaoshuo");
                    $("#icon1").css("display", "none");
                    $("#icon2").css("display", "inline");
                    $(title).text("册 条码号");
                }
            }

            // 设上焦点
            $("#barcode").focus();
            //_charge_inputType = type;
            $("#_charge_inputType").val(type);
        }

        // 操作类型
        function setOperation(ope) {

            // 关闭选择item区
            var display = $("#selItem").css("display","none");


            //_charge_operation = ope;
            $("#_charge_operation").val(ope);

            if (ope == "borrow") {
                $("#opeName").text("借");
                $("#_opeName").text("借");

                //if (bSetInput == true)
                    setInput(1);
            }
            else if (ope == "return") {

                $("#opeName").text("还");
                $("#_opeName").text("还");

                //if (bSetInput==true)
                    setInput(2);
            }
        }

        //用于获取所有命令
        //这个似乎不需要冻结界面 todo
        function getAllCmd() {

            // 图书馆
            var libId = getLibId();//$("#selLib").val();
            if (libId == "" || libId == null) {
                alert("您尚未选择图书馆。");
                return;
            }

            //显示等待图层
            showLoading();

            // 先删除老数据

            // 调web api
            var url = "/api/ChargeCommand?libId=" + libId;
            sendAjaxRequest(url, "GET", function (result) {

                // 关闭等待层
                hideLoading();

                //  出错
                if (result.errorCode == -1) {
                    alert(result.errorInfo);
                    return;
                }

                // 显示各个命令
                for (var i = 0; i < result.cmds.length; i++) {
                    var cmd = result.cmds[i];
                    viewCmd(cmd);
                }

                // 更新summary
                window.setTimeout("fillPending()", 1);


            }, function (xhq, textStatus, errorThrown) {
                // 关闭等待层
                hideLoading();
                alert(errorThrown);
            });
        }

        function viewCmd(cmd)
        {
            var cmdContainer = $("#cmdContainer");

            //cmds
            var cmds = $("#cmds");
            var cmdHtml = cmd.cmdHtml;
            cmds.prepend(cmdHtml); //append(cmdHtml);//

            //var height = cmds.height();
            //alert(height);
            //$(cmdContainer).scrollTop(height);
        }

        //// 全局变量
        //var _charge_operation = "borrow";
        //var _charge_inputType = 1;
        //var _patron = "";

        // 执行命令
        function addCmd() {


            //// 如果是选择item打开状态，则不能进行操作
            //var display = $("#selItem").css("display");
            //if (display == "block") {
            //    var opeName = $("#opeName").text();

            //    return;
            //}



            // 先清掉扫码错误信息
            $("#errorInfo").text("");

            // 图书馆
            var libId = getLibId();//$("#selLib").val();
            if (libId == "" || libId == null) {
                alert("您尚未选择图书馆。");
                return;
            }

            // 微信id
            var weixinId = $("#weixinId").text();
            if (weixinId == "") {
                alert("weixinId不能为空。");
                return;
            }

            var patron = "";
            var item = "";
            var cmdType = "";

            var _charge_operation = $("#_charge_operation").val();
            var _charge_inputType = $("#_charge_inputType").val();

            if (_charge_operation == "borrow")
            {
                if (_charge_inputType == 1) {
                    cmdType = "loadPatron";
                    patron = $("#barcode").val(); //从输入框取值
                    if (patron == null || patron == "")
                    {
                        alert("请输入 证 条码号");
                        $("barcode").focus();
                        return;
                    }

                    //_patron = patron;
                    $("#_patron").val(patron);


                }
                else {
                    cmdType = "borrow";
                    patron = $("#_patron").val();//_patron; //从变量取值
                    item = $("#barcode").val();
                    if (item == null || item == "") {
                        alert("请输入 册 条码号");
                        return;
                    }


                }
            }
            else if (_charge_operation == "return")
            {
                cmdType = "return";
                item = $("#barcode").val();
                if (item == null || item == "") {
                    alert("请输入 册 条码号");
                    return;
                }
            }


            //alert(_patron);

            //登录身份
            var userName=$("#_userName").text();

            //显示等待图层
            showMaskLayer();

            //调 web api
            var url = "/api/ChargeCommand?weixinId=" + weixinId
                +"&libId=" + libId;
            var data = {
                type: cmdType,
                patron: patron,
                item: item,
                userName:userName
            };



            sendAjaxRequest(url, "POST", function (cmd) {

                // 关闭等待层
                hideMaskLayer();

                // 清掉输入框
                $("#barcode").val(""); //清掉输入框    

                if (cmd.state == -2)
                {
                    alert("姓名重复");
                    return;
                }

                if (cmd.state == -3)
                {
                    //alert("isbn");

                    showSelectItem(cmd.itemList);
                    return;
                }

                //alert("回来");
                // 插入结果声音
                //window.setTimeout("playResult("+cmd+")", 1);
                //playResult(cmd);

                // 加入操作历史
                viewCmd(cmd);          


                if (cmdType == "loadPatron") {
                    $("#patron").html(""); //清掉读者信息

                    if (cmd.state == 1) {

                        //$("#barcode").val(""); //清掉输入框      
                        setInput(2);


                        $("#_patron").val(patron);


                        // 显示读者信息
                        $("#patron").html(cmd.patronHtml);

                        // 播放声音
                        //playLoadSuccess();
                    }
                    else {
                        //$("#barcode").select();

                        // 播放声音
                        //playLoadError();
                    }
                }
                else {
                    $("#barcode").val(""); //清掉输入框      

                    // 更新读者信息
                    if (cmd.patronHtml != "" && cmd.patronHtml != null) {
                        $("#patron").html(cmd.patronHtml);
                    }

                    //if (cmd.state == -1) {
                    //    if (cmdType == "borrow") {
                    //        playBorrowError();
                    //    }
                    //    else if (cmdType == "return") {
                    //        playReturnError();
                    //    }
                    //}
                    //else
                    //{
                    //    if (cmdType == "borrow") {
                    //        playBorrowSuccess();
                    //    }
                    //    else if (cmdType == "return") {
                    //        playReturnSuccess();
                    //    }
                    //}
                }




                //如果是扫码方法，且操作成功，才继续打开扫描
                if (_lastMothed == 2 && cmd.state == 1) {
                    sweep();

                    //window.setTimeout("sweep()", 100)
                }

                // 如果返回的读者 证条码与 界面上的不一致，刷新读者信息。

                //setTimeout(doFocus, 3000);
                //$("#barcode").focus(); // 设上焦点
                // alert('a');
                //doFocus();

                //$("#barcode").val("123");

                // 更新summary
                window.setTimeout("fillPending()", 1);

            }, function (xhq, textStatus, errorThrown) {

                // 关闭等待层
                hideMaskLayer();

                alert(errorThrown);

            },
            data);

            // 调焦点
            //window.setTimeout("doFocus()", 200);
            doFocus();
            //return;
        }

        function showSelectItem(itemList)
        {
            var libId = getLibId();//$("#selLib").val();
            $("#selItem").css("display", "block");
            $("#items").html("");


            for (var i = 0; i < itemList.length; i++) {

                var item = itemList[i];

                var html = "<div class='mui-card' style='padding:0px;margin:0px;margin-bottom:10px;' id='item-" + item.barcode + "' ondblclick='selectItemOK(this)' >"
                    + "<table class='item' >"
            + "<tbody>"
                + "<tr>"
                    + "<td class='first'></td>"
                    + "<td class='name'>册条码号</td>"
                    + "<td class='value'>" + item.pureBarcode + "</td>"
                + "</tr>"
                + "<tr>"
                    + "<td class='first'></td>"
                    + "<td class='name'>状态</td>"
                    + "<td class='value'>" + item.state + "</td>"
                + "</tr>"
                + "<tr>"
                    + "<td class='first'></td>"
                    + "<td class='name'>在借情况</td>"
                    + "<td class='borrowInfo'>" + item.borrowInfo + "</td>"
                + "</tr>"
                + "<tr>"
                    + "<td class='first'></td>"
                    + "<td class='name'>书目摘要</td>"
                    + "<td class='value'>";

                html += "<div  class='summary pending' style='padding-bottom:4px'>"
                                       + "<label>bs-" + item.pureBarcode + "</label>"
                                       + "<img src='../img/wait2.gif' />"
                                       + "<span>" + libId + "</span>"
                                   + "</div>";

                html+= "</td>"
                + "</tr>"
                + "<tr>"
                    + "<td class='first'></td>"
                    + "<td class='name'>卷册</td>"
                    + "<td class='value'>" + item.volume + "</td>"
                + "</tr>"
                + "<tr>"
                    + "<td class='first'></td>"
                    + "<td class='name'>馆藏地</td>"
                    + "<td class='value'>" + item.location + "</td>"
                + "</tr>"
                + "<tr>"
                    + "<td class='first'></td>"
                    + "<td class='name'>价格</td>"
                    + "<td class='value'>" + item.price + "</td>"
                + "</tr>"
                + "<tr>"
                    + "<td class='first'></td>"
                    + "<td class='name'>册记录路径</td>"
                   + "<td class='value'>"+item.recPath+"</td>"
                + "</tr>"
            + "</tbody>"
        + "</table>"
                + "</div>";


                $("#items").append(html);
            }

            // 更新summary
            window.setTimeout("fillPending()", 1);
        }

        function playResult(cmd)
        {
            alert(cmd.type);
            if (cmd.type == "loadPatron") {

                if (cmd.state == 1) {
                    playLoadSuccess();
                }
                else {
                    playLoadError();
                }
            }
            else {
                if (cmd.state == -1) {
                    if (cmd.type == "borrow") {
                        playBorrowError();
                    }
                    else if (cmd.type == "return") {
                        playReturnError();
                    }
                }
                else {
                    if (cmd.type == "borrow") {
                        playBorrowSuccess();
                    }
                    else if (cmd.type == "return") {
                        playReturnSuccess();
                    }
                }
            }
        }
            


            function doFocus() {
                //alert('test1');\
                //$('#barcode').focus().css('border', '1px solid red');
                $('#barcode').focus()
            }


            function selectItemOK(obj)
            {
                $("#selItem").css("display", "none");

                var id = $(obj).attr('id'); //item-C001
                var item = id.substring(5);
                //alert(item);

                //设到textbox
                $("#barcode").val(item);
                addCmd();

            }

    </script>
}

@section style {

<link href="@Url.Content("~/Content/charge.css?a=1")" rel="stylesheet">
    <link href="@Url.Content("~/Content/patron.css?a=1")" rel="stylesheet">
    <style>
        TABLE.chargeform {
            width: 100%;
        }

            TABLE.chargeform TD {
                /*height:62px;*/
            }


                TABLE.chargeform TD INPUT {
                    height: 50px;
                    font-size: 28px;
                    border-radius: 3px;
                   
                    margin-bottom:0px;
                }

        .operationLink {
            
            cursor:pointer;
            font-size:16pt;
            width:200px;
            color:#007aff;
        }

        .operationName {
            font-size: 40pt;
            cursor:pointer;
        }
    </style>
}

@section header {
    <h1 class="mui-title">出纳窗</h1>
}

<span id="weixinId" style="display:none">@Session[dp2weixin.service.WeiXinConst.C_Session_WeiXinId]</span>
<span id="_libversions" style="display:none">@ViewBag.LibVersions</span>
<span id="_userName" style="display:none">@ViewBag.userName</span>

<input id="_charge_operation" type="hidden" value="borrow" >
<input id="_charge_inputType" type="hidden" value="1" >
<input id="_patron" type="hidden" value="">

@if (String.IsNullOrEmpty(ViewBag.Error) == false)
{
    <div class="mui-content-padded">
        <span class="errorinfo">
            @Html.Raw(ViewBag.Error)
        </span>
    </div>
}
else
{
    
        if (ViewBag.RedirectInfo != null && ViewBag.RedirectInfo != "")
    {
        @Html.Raw(ViewBag.RedirectInfo);
    }
    else
    {
    <div style="width:100%;padding-left:10px;padding-right:10px">
        <table style="width:100%;">
            <tr>
                <td style="text-align:left">
                    <span class="operationLink" onclick="setOperation('borrow')">借&nbsp;</span>
                    <span class="operationLink" onclick="setOperation('return')">&nbsp;还&nbsp;</span>
                </td>
                <td style="text-align:right;">
                    <span class="mui-icon-extra mui-icon-extra-sweep" onclick="sweep()"></span>&nbsp;&nbsp;
                        <span style="text-align:right;color:gray;font-size:12px">流通账号：@ViewBag.userName</span>
</td>
            </tr>
        </table>
    </div>

    <div class="mui-content-padded" >
        <table class="chargeform">
            <tr>
                <td colspan="2" id="titleLine">
                    <span><img id="icon1" style="display:inline" src="~/img/person.png" />
                    <img id="icon2" style="display:inline" src="~/img/book2.png" /></span>
                    <span id="title" style="padding-left:2px">证 条码号</span><br />
                </td>
                </tr>
            <tr>
                <td ><input id="barcode" type="text" class="mui-input mui-input-clear" placeholder=""></td>
                <td ><span id="opeName" class="operationName" >借</span></td>
            </tr>
            <tr>
                <td colspan="2">
                    <span id="errorInfo" style="color:red"></span>
                </td>
            </tr>
        </table>

        <div id="selPatron" style="display:none;border:1px dotted #1E90FF">
            <div >请选择一个读者</div>
            <div id="patrons"></div>
        </div>

        <div id="selItem" style="display:none;border:2px dotted #333333;margin-top:10px;padding:4px;background-color:gray">
            <div style="margin-bottom:5px"><span style="background-color:#FFD700;font-size:14.8px;font-weight:bold">请 <span style="color:blue">双击</span> 选择要<span id="_opeName">借</span>的册</span></div>
            <div id="items">



            </div>
        </div>

    </div>
    <div id="patron" style="padding-left:10px;padding-right:10px">

    </div>



        <div id="cmdContainer" class="mui-content-padded" >
        <div id="cmds"></div>

    </div>
    
    <audio id="patronAudio">
        <source src="~/audio/patron.mp3" type="audio/mp3">
    </audio>
    <audio id="itemAudio">
        <source src="~/audio/item.mp3" type="audio/mp3">
    </audio>  
    <audio id="borrowError">
        <source src="~/audio/borrow_error.mp3" type="audio/mp3">
    </audio>
    <audio id="borrowSuccess">
        <source src="~/audio/borrow_success.mp3" type="audio/mp3">
    </audio>  
    <audio id="returnError">
        <source src="~/audio/return_error.mp3" type="audio/mp3">
    </audio>
    <audio id="returnSuccess">
        <source src="~/audio/return_success.mp3" type="audio/mp3">
    </audio>      
    <audio id="loadError">
        <source src="~/audio/load_error.mp3" type="audio/mp3">
    </audio>
    <audio id="loadSuccess">
        <source src="~/audio/load_success.mp3" type="audio/mp3">
    </audio> 
             
    }

}