@{
    ViewBag.Title = "出纳窗";
}

@section Scripts {
    <script>

        var f = function (event) {

            //alert("a2");
            $timeout(function () { // angular way, setTimeout is OK
                //event.preventDefault();
                alert("abc");
                $('#barcode').val("");
                $('#barcode').focus();

            })
        };

        //浏览器加载并处理了文档的所有HTML元素之后才会执行。
        $(document).ready(function () {
            // 读者证条码 打回车
            $('#barcode').bind('keypress', function (event) {
                if (event.keyCode == "13") {
                    addCmd();
                    //alert("a1");
                    //f(event);
                }
            });

            $('#opeName').click(function (e) {
                //

                e.preventDefault();
                addCmd();
                //$("#barcode").val("");
                //doFocus();

            });

            // 设顶部菜单不固定
            $("#myheader").css("position", "absolute");

            var oldOpe = $("#_charge_operation").val();
            var oldInputType = $("#_charge_inputType").val(); //这个值要先取出来，否则会把setOperation函数修改
            var oldPatron = $("#_patron").val();
            if (oldOpe != null || oldOpe != "")
            {
                setOperation(oldOpe);
            }
            if (oldInputType != null && oldInputType != "")
            {
                setInput(oldInputType);
            }
            if (oldPatron != null && oldPatron != "") {
                getPatron(oldPatron);
            }



            getAllCmd();
        });

        function getPatron(patronBarcode) {
            //alert("getPatron()");

            // 将读者信息置空
            $("#patron").html("");


            // 图书馆
            var libId = getLibId();//$("#selLib").val();
            if (libId == "" || libId == null) {
                alert("您尚未选择图书馆。");
                return;
            }

            if (patronBarcode == null || patronBarcode == "") {
                alert("尚未输入读者 证条码号");
                return;
            }

            var style = "summary";

            //登录身份
            var userName = $("#_userName").text();
            var isPatron = false;


            //显示等待图层
            showLoading();

            // 调GetPatron
            var url = "/api/patron?libId=" + encodeURIComponent(libId)
                + "&userName=" + encodeURIComponent(userName)
                +"&isPatron="+isPatron
                + "&patronBarcode=" + encodeURIComponent(patronBarcode)
                + "&style=" + encodeURIComponent(style)
            //alert(url);
            sendAjaxRequest(url, "GET",
                function (result) {

                    // 关闭等待层
                    hideLoading();
                    if (result.errorCode == -1) {
                        alert("获取读者信息出错：" + result.errorInfo);
                        return;
                    }
                    // 显示读者信息
                    $("#patron").html(result.info);

                }, function (xhq, textStatus, errorThrown) {
                    // 关闭等待层
                    hideLoading();
                    alert(errorThrown);
                });
        }

        // 扫码
        function sweep()
        { }

        //设置输入框类型
        function setInput(type) {

            $("#barcode").val(""); //清掉输入框
            $("#patron").html(""); //清掉读者信息

            var icon = $("#icon");
            var title = $("#title");

            var oldType=-1;
            var oldTitle=$(title).text();
            if (oldTitle=="证 条码号")
                oldType==1;
            else
                oldType=2;

            if (type != oldType)
            {
                if (type == 1) {
                    $(icon).removeClass("mui-icon-extra-xiaoshuo");
                    $(icon).addClass("mui-icon-extra-people");
                    $(title).text("证 条码号");
                }
                else {
                    $(icon).removeClass("mui-icon-extra-people");
                    $(icon).addClass("mui-icon-extra-xiaoshuo");
                    $(title).text("册 条码号");
                }
            }

            // 设上焦点
            $("#barcode").focus();
            //_charge_inputType = type;
            $("#_charge_inputType").val(type);
        }

        // 操作类型
        function setOperation(ope) {
            //_charge_operation = ope;
            $("#_charge_operation").val(ope);

            if (ope == "borrow") {
                $("#opeName").text("借");

                //if (bSetInput == true)
                    setInput(1);
            }
            else if (ope == "return") {

                $("#opeName").text("还");

                //if (bSetInput==true)
                    setInput(2);
            }
        }

        //用于获取所有命令
        //这个似乎不需要冻结界面 todo
        function getAllCmd() {

            // 图书馆
            var libId = getLibId();//$("#selLib").val();
            if (libId == "" || libId == null) {
                alert("您尚未选择图书馆。");
                return;
            }

            //显示等待图层
            showLoading();

            // 先删除老数据

            // 调web api
            var url = "/api/ChargeCommand?libId=" + libId;
            sendAjaxRequest(url, "GET", function (result) {

                // 关闭等待层
                hideLoading();

                //  出错
                if (result.errorCode == -1) {
                    alert(result.errorInfo);
                    return;
                }

                // 显示各个命令
                for (var i = 0; i < result.cmds.length; i++) {
                    var cmd = result.cmds[i];
                    viewCmd(cmd);
                }

                // 更新summary
                window.setTimeout("fillPending()", 1);


            }, function (xhq, textStatus, errorThrown) {
                // 关闭等待层
                hideLoading();
                alert(errorThrown);
            });
        }

        function viewCmd(cmd)
        {
            var cmdContainer = $("#cmdContainer");

            //cmds
            var cmds = $("#cmds");
            var cmdHtml = cmd.cmdHtml;
            cmds.prepend(cmdHtml); //append(cmdHtml);//

            //var height = cmds.height();
            //alert(height);
            //$(cmdContainer).scrollTop(height);
        }

        //// 全局变量
        //var _charge_operation = "borrow";
        //var _charge_inputType = 1;
        //var _patron = "";

        // 执行命令
        function addCmd() {


            // 图书馆
            var libId = getLibId();//$("#selLib").val();
            if (libId == "" || libId == null) {
                alert("您尚未选择图书馆。");
                return;
            }

            var patron = "";
            var item = "";
            var cmdType = "";

            var _charge_operation = $("#_charge_operation").val();
            var _charge_inputType = $("#_charge_inputType").val();

            if (_charge_operation == "borrow")
            {
                if (_charge_inputType == 1) {
                    cmdType = "loadPatron";
                    patron = $("#barcode").val(); //从输入框取值
                    if (patron == null || patron == "")
                    {
                        alert("请输入 证 条码号");
                        $("barcode").focus();
                        return;
                    }

                    //_patron = patron;
                    $("#_patron").val(patron);
                }
                else {
                    cmdType = "borrow";
                    patron = $("#_patron").val();//_patron; //从变量取值
                    item = $("#barcode").val();
                    if (item == null || item == "") {
                        alert("请输入 册 条码号");
                        return;
                    }
                }
            }
            else if (_charge_operation == "return")
            {
                cmdType = "return";
                item = $("#barcode").val();
                if (item == null || item == "") {
                    alert("请输入 册 条码号");
                    return;
                }
            }


            //alert(_patron);

            //登录身份
            var userName=$("#_userName").text();

            //显示等待图层
            showMaskLayer();

            //调 web api
            var url = "/api/ChargeCommand?libId="+libId;
            var data = {
                type: cmdType,
                patron: patron,
                item: item,
                userName:userName
            };



            sendAjaxRequest(url, "POST", function (cmd) {

                // 关闭等待层
                hideMaskLayer();


                //// 返回值2表示多个读者，弹出选择读者对话框
                //if (newItem.state == 2) {
                //    //有多笔读者的情况
                //    loadPatron(null, true);
                //    return;
                //}

                ////返回值3表示通过ISBN借书，弹出选择册对话框
                //if (newItem.state == 3) {
                //    //弹出选0择册图层
                //    openSelectItemLayer(cmdModel.editor.type(), newItem.resultInfo);
                //    return;
                //}

                //alert("b1");


                
                // 加入操作历史
                viewCmd(cmd);                

                // 清掉输入框
                $("#barcode").val(""); //清掉输入框               
                if (cmdType=="loadPatron")
                {
                    $("#patron").html(""); //清掉读者信息

                    if (cmd.state == 1) {

                        setInput(2);

                        // 显示读者信息
                        $("#patron").html(cmd.patronHtml);
                    }
                }
                else if (cmdType == "return")
                {
                    // 显示读者信息
                    $("#patron").html(cmd.patronHtml);
                }

                // 如果返回的读者 证条码与 界面上的不一致，刷新读者信息。

                //setTimeout(doFocus, 3000);
                //$("#barcode").focus(); // 设上焦点
                // alert('a');
                //doFocus();

                //$("#barcode").val("123");

                // 更新summary
                window.setTimeout("fillPending()", 1);

            }, function (xhq, textStatus, errorThrown) {

                // 关闭等待层
                hideMaskLayer();

                alert(errorThrown);

            },
            data);

            // 调焦点
            //window.setTimeout("doFocus()", 200);
            doFocus();
            //return;
        }

        function doFocus() {
            //alert('test1');
            //$('#barcode').focus().css('border', '1px solid red');
            $('#barcode').focus()
        }

    </script>
}

@section style {

<link href="@Url.Content("~/Content/charge.css?a=2")" rel="stylesheet">
    <link href="@Url.Content("~/Content/patron.css?a=1")" rel="stylesheet">
    <style>
        TABLE.chargeform {
            width: 100%;
        }

            TABLE.chargeform TD {
                /*height:62px;*/
            }


                TABLE.chargeform TD INPUT {
                    height: 50px;
                    font-size: 28px;
                    border-radius: 3px;
                   
                    margin-bottom:0px;
                }

        .operationLink {
            
            cursor:pointer;
            font-size:16pt;
        }

        .operationName {
            font-size: 40pt;
            cursor:pointer;
        }
    </style>
}

@section header {
    <h1 class="mui-title">出纳窗</h1>
}

<span id="weixinId" style="display:none">@Session[dp2weixin.service.WeiXinConst.C_Session_WeiXinId]</span>
<span id="_libversions" style="display:none">@ViewBag.LibVersions</span>
<span id="_userName" style="display:none">@ViewBag.userName</span>

<input id="_charge_operation" type="hidden" value="borrow" >
<input id="_charge_inputType" type="hidden" value="1" >
<input id="_patron" type="hidden" value="">

@if (String.IsNullOrEmpty(ViewBag.Error) == false)
{
    <div class="mui-content-padded">
        <span class="errorinfo">
            @Html.Raw(ViewBag.Error)
        </span>
    </div>
}
else
{
    
        if (ViewBag.RedirectInfo != null && ViewBag.RedirectInfo != "")
    {
        @Html.Raw(ViewBag.RedirectInfo);
    }
    else
    {
    <div style="width:100%;padding-left:10px;padding-right:10px">
        <table style="width:100%;">
            <tr>
                <td style="text-align:left">
                    <span class="operationLink"><a onclick="setOperation('borrow')">借</a></span>
                    &nbsp;&nbsp;
                    <span class="operationLink"><a onclick="setOperation('return')">还</a></span>
                </td>
                <td style="text-align:right;color:gray;font-size:12px">流通账号：@ViewBag.userName</td>
            </tr>
        </table>
    </div>

    <div class="mui-content-padded" >
        <table class="chargeform">
            <tr>
                <td colspan="2" id="titleLine">
                    <span id="icon" class="mui-icon-extra mui-icon-extra-people"></span><span id="title">证 条码号</span><br />
                </td>
                </tr>
            <tr>
                <td ><input id="barcode" type="text" class="mui-input mui-input-clear" placeholder=""></td>
                <td ><span id="opeName" class="operationName" >借</span></td>
            </tr>
        </table>
        <button style="display:none" id='sweep' class="mui-btn mui-btn-block mui-btn-primary" onclick="sweep()">扫码操作</button>

    </div>
    <div id="patron" style="padding-left:10px">

    </div>
    
    <br />
    
        <div id="cmdContainer" class="mui-content-padded" >
        <div id="cmds"></div>

    </div>
}

}