@model List<dp2weixin.service.UserMessageItem>
@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script>

        // 删除一项
        function deleteMsg(id)
        {
            if (id == null)
                id = "";

            var gnl = confirm("你确定要删除全部消息吗?");
            if (gnl == false) {
                return false;
            }

            var bindUserId = $("#bindUserId").text();
            if (bindUserId == "") {
                alert("异常情况：bindUserId为空");
                return;
            }

            //???
            if (id != "" && id != null)
                bindUserId = "";

            //显示等待图层
            //var index = loadLayer();
            showMaskLayer();

            //调接口删除消息
            var url = "/api2/UserNoticeApi/?bindUserId=" + bindUserId + "&id=" + id;
            sendAjaxRequest(url, "POST", function (result) { 

                                    // 关闭等待层
                hideMaskLayer();

                if (result.errorCode == -1) {
                    alert(result.errorInfo);
                    return;
                }

                alert("删除完成");

                // 重新加载页面
                window.location.reload();


            }, function (xhq, textStatus, errorThrown) {
                    // 关闭等待层
                    hideMaskLayer();

                alert(errorThrown);
            });


        }

        //$(document).ready调用是jQuery推迟函数执行的一项标准技术，
        //它直到浏览器加载并处理了文档的所有HTML元素之后才会执行。
        $(document).ready(function () {

            // 2021/8/2调试态显示当前操作帐号
            setOpeAccount("");

        })
    </script>
}

@section header {
    <h1 class="mui-title">我的消息</h1>
}



<span id="bindUserId" style="display:none">@ViewBag.bindUserId</span>
@if (String.IsNullOrEmpty(ViewBag.Error) == false)
{
    <div class="mui-content-padded">
        <span class="errorinfo">
            @Html.Raw(ViewBag.Error)
        </span>
    </div>
}
else
{

    if (ViewBag.RedirectInfo != null && ViewBag.RedirectInfo != "")
    {
        @Html.Raw(ViewBag.RedirectInfo);
    }
    else
    {
        // 警告提示
        if (String.IsNullOrEmpty(ViewBag.Warn) == false)
        {
            <div class="mui-content-padded">
                <span class="errorinfo">
                    @Html.Raw(ViewBag.Warn)
                </span>
            </div>
        }

        if (Model == null || Model.Count == 0)
        {
            <div class="mui-card" id="divNo" style="margin-top:10px;">
                <center>
                    <img src='../img/empty2.jpg' width='100' height='100' style=" padding-top:5px" />
                    <div>目前没有消息。</div>
                </center>
            </div>
        }
        if (Model != null)
        {
            <div class="mui-card message" style="padding:10px">
                <table class="view-top">
                    @foreach (dp2weixin.service.UserMessageItem item in Model)
                    {

                        <tbody>
                            <tr><td colspan="2" class="title">@item.msgType</td></tr>
                            <tr>
                                <td class="xml" style="padding-top:10px">@Html.Raw(item.xml)</td>
                                <td>
                                    <button class="mui-btn" onclick="deleteMsg('@item.id')">
                                        删除
                                    </button>

                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
            <div style="padding:10px">
                <button class="mui-btn" onclick="deleteMsg()">
                    删除全部
                </button>
            </div>
        }
    }
}


