@model dp2weixin.service.UserMessageMode
@{
    ViewBag.Title = "消息详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script>


        //$(document).ready调用是jQuery推迟函数执行的一项标准技术，
        //它直到浏览器加载并处理了文档的所有HTML元素之后才会执行。
        $(document).ready(function () {

            // 2021/8/2调试态显示当前操作帐号
            setOpeAccount("");

        })
    </script>
}

@section header {
    <h1 class="mui-title">消息详情</h1>
}


<span id="bindUserId" style="display:none">@ViewBag.bindUserId</span>
<span id="curMessageId" style="display:none">@ViewBag.curMessageId</span>

@if (String.IsNullOrEmpty(ViewBag.Error) == false)
{
    <div class="mui-content-padded">
        <span class="errorinfo">
            @Html.Raw(ViewBag.Error)
        </span>
    </div>
}
else
{

    if (ViewBag.RedirectInfo != null && ViewBag.RedirectInfo != "")
    {
        @Html.Raw(ViewBag.RedirectInfo);
    }
    else
    {
        // 警告提示
        if (String.IsNullOrEmpty(ViewBag.Warn) == false)
        {
            <div class="mui-content-padded">
                <span class="errorinfo">
                    @Html.Raw(ViewBag.Warn)
                </span>
            </div>
        }
        
        <div class="mui-card message" style="padding:10px;margin-top:15px" id="@Model.refid">
            <span style="font-size:large">@Model.title</span><br />
            <span style="color:@Model.firstcolor;font-size:xx-small">@Model.first</span><br />
            <!--<span style="color:gray;font-size:xx-small">@Model.refid</span><br />-->

            @foreach (dp2weixin.service.LabelValue one in Model.valueList)
            {
                @one.lable <b>@one.value</b><br />
            }

            <span style="color:gray"> @Model.remark</span>
        </div>

        <div style="padding:10px">
            <a href="~/Library/AllMessage">查看全部消息</a>
        </div>
    }



}


