@section Scripts {
    <script>

        //观察模型
        var model = {

            // 界面输入值
            name: ko.observable(""),
            tel: ko.observable(""),

            // 界面用于绑定输入的password
            password: ko.observable(""),
        }


        //$(document).ready调用是jQuery推迟函数执行的一项标准技术，
        //它直到浏览器加载并处理了文档的所有HTML元素之后才会执行。
        $(document).ready(function () {

            //绑定观察模块
            ko.applyBindings(model);

            var readerName = $("#spanReaderName").text();
            if (readerName != null && readerName != "") {
                model.name(readerName);
            }
            // 电话号码打回车时，进行找加密码
            $('#txtTel').bind('keypress', function (event) {
                if (event.keyCode == "13") {

                    // 要先给观察模型赋值一下,鼠标没离开输入框时，观察者模型还没有值
                    model.tel($('#txtTel').val());

                    resetPassword();
                }
            });

            // 密码框打回车时，进行绑定
            $('#password').bind('keypress', function (event) {
                if (event.keyCode == "13") {
                    // 要先给观察模型赋值一下,鼠标没离开输入框时，观察者模型还没有值
                    model.password($('#password').val());

                    //alert("bind");
                    bind();
                }
            });
        })

        //找回密码
        function resetPassword() {

            // 微信id
            var weixinId = $("#weixinId").text();
            if (weixinId == "") {
                alert("weixinId不能为空。");
                return;
            }

            //alert("resetPassword");
            // 图书馆
            var libId = $("#selLib").val();//2016-8-13 jane 找回密码加入选择图书馆 getLibId();//
            if (libId == "" || libId == null) {
                alert("您尚未选择图书馆。");
                return;
            }

            var name = model.name();//$("#name").val();
            if (name == "") {
                alert("您尚未输入姓名。");
                return;
            }
            var tel = model.tel();//$("#tel").val();
            if (tel == "") {
                alert("您尚未输入手机号码。");
                return;
            }
            //alert(name + "-" + tel);

            //显示等待图层
            //var index = loadLayer();
            showMaskLayer();

            // 调 ResetPassword() api获取临时密码
            var url = "/api/wxuser?weixinId=" + weixinId
                + "&libId=" + libId
                + "&name=" + encodeURIComponent(name)
                + "&tel=" + tel;
            sendAjaxRequest(url, "POST", function (result) {
                // 关闭等待层
                //layer.close(index);
                hideMaskLayer();

                // 出错，或者由于条件限制未成功
                if (result.errorCode == -1 || result.errorCode == 0) {
                    alert(result.errorInfo);
                    $("#warnText").html(result.errorInfo);
                    $("#warnText").css("color", "red");  //设置p元素的样式颜色为红色
                    return; //test
                }

                // 设上返回的patronCode
                $("#_patronBarcord").text(result.info);
                //alert($("#_patronBarcord").text());

                var tempInfo = "密码已通过短信方式发送到手机" + tel + ",您可以在下方密码框输入手机短信中的密码，立即绑定账号。";
                alert(tempInfo);

                $("#warnText").html(tempInfo);
                $("#warnText").css("color", "green");  //设置p元素的样式颜色为红色
                $("#divBind").css('display', 'block');
                $("#divChangePassword").css('display', 'block');

                // 将焦点移到密码输入框
                $("#password").focus();
                // 禁止掉找回密码按钮
                $("#btnResetPassword").attr({ "disabled": "disabled" });

                //清空输入框，注意这里没清除选择的图书馆
                // model.name("");
                //model.tel("");

            }, function (xhq, textStatus, errorThrown) {

                // 关闭图层
                hideMaskLayer();

                alert(errorThrown);
            });
        }

        // 绑定账号
        function bind() {
            // 图书馆
            var libId = $("#selLib").val();  //2016-8-13 jane 找回密码界面加入选择图书馆 getLibId();//
            if (libId == "" || libId == null) {
                alert("您尚未选择图书馆。");
                return;
            }

            //姓名
            var word = model.name().trim();
            if (word == "") {
                alert("您尚未输入姓名。");
                return;
            }

            //密码
            var password = model.password().trim();
            if (password == "") {
                alert("您尚未输入密码。");
                return;
            }
            // 微信id
            var weixinId = $("#weixinId").text();
            if (weixinId == "") {
                alert("weixinId不能为空。");
                return;
            }

            //显示等待图层
            //var index = loadLayer();
            showMaskLayer();

            // bind() api
            var url = "/api/wxuser";
            sendAjaxRequest(url, "POST",
                function (result) {

                    // 关闭等待层
                    //layer.close(index);
                    hideMaskLayer();

                    if (result.errorCode == -1) {
                        alert(result.errorInfo);
                        return;
                    }

                    alert("绑定成功");
                    // 回到账户管理页面
                    var returnUrl = "/Patron/PersonalInfo"; //2016-8-30 读者绑完转到我的信息"/Library/Home";
                    gotoUrl(returnUrl);

                    //var myUrl = getRootPath() + returnUrl;
                    //window.location = myUrl;
                },
                function (xhq, textStatus, errorThrown) {

                    // 关闭等待层
                    //layer.close(index);
                    hideMaskLayer();

                    alert(errorThrown);

                },
                {
                    weixinId: weixinId,
                    prefix: "NB",
                    word: word,
                    password: password,
                    libId: libId
                }
            );
        }


        function gotoChangePassword() {
            //alert("gotoChangePassword()");

            var patronBarcode = $("#_patronBarcord").text();
            if (patronBarcode == "") {
                alert("异常情况：未得到读者的barcode。");
                return;
            }
            var url = "/Account/ChangePassword?patronBarcode=" + patronBarcode;
            gotoUrl(url);
        }

    </script>
}
@section style {
    <style>
.comment
{
	border-style: dotted;
	border-color: #cccc00;
	border-width: 2px;
	padding: 4px;
    background-color:white;
    margin:4px;
    font-size:14px;
}
    </style>
}
@section header {
    <h1 class="mui-title">找回密码</h1>
}
<span id="weixinId" style="display:none">@Session[dp2weixin.service.WeiXinConst.C_Session_WeiXinId]</span>
<span id="spanLibCode" style="display:none">@ViewBag.LibCode</span>
<span id="spanReaderName" style="display:none">@ViewBag.ReaderName</span>
<span id="_patronBarcord" style="display:none"></span>
@if (String.IsNullOrEmpty(ViewBag.Error) == false)
{
    <div class="mui-content-padded">
        <span class="errorinfo">
            @Html.Raw(ViewBag.Error)
        </span>
    </div>
}
else
{
    <div class="mui-input-group">

        <div class="mui-input-row ">
            <label style="color:#cccccc">图书馆</label>
            @Html.Raw(ViewBag.LibHtml)
        </div>

        <div class="mui-input-row ">
            <label style="color:#cccccc">姓名</label>
            <input type="text" class="mui-input mui-input-clear" placeholder="请输入 姓名" data-bind="value:model.name">
        </div>
        <div class="mui-input-row">
            <label style="color:#cccccc">手机号码</label>
            <input type="text" id="txtTel" class="mui-input mui-input-clear" placeholder="请输入 手机号码" data-bind="value:model.tel">
        </div>
    </div>
    <div class="comment">（注：请您确保已经在图书馆登记过手机号，才能正常使用找回密码功能。）</div>

    <div class="mui-content-padded">
        <button id='btnResetPassword' class="mui-btn mui-btn-block mui-btn-primary" onclick="resetPassword()">找回密码</button>
        <span style="color:red" id="warnText"></span>
        <div id="divChangePassword" style="display:none">
            您可以点击<span class="link-area"><a href="JavaScript:void(0)" onclick="gotoChangePassword()">这里</a>修改密码。</span>
        </div>
    </div>
    <div id="divBind" style="display:none">
        <div class="mui-input-group">
            <div class="mui-input-row">
                <label>密码</label>
                <input id="password" type="password" class="mui-input-password" placeholder="请输入 密码" data-bind="value:model.password">
            </div>
        </div>
        <div class="mui-content-padded">
            <button id='btnBind' class="mui-btn mui-btn-block mui-btn-primary" onclick="bind()">绑定账号</button>
        </div>
    </div>
}