<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href=@Url.Content("~/favicon.ico")>
    <title>我爱图书馆</title>
    <!--CSS -->
    <link href="@Url.Content("~/Content/mui.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />

<link href="@Url.Content("~/Content/layer.m.css")" type="text/css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/layer.js")"></script>

    <script src='@Url.Content("~/Scripts/jquery-2.2.3.js")'></script>
    <script src='@Url.Content("~/Scripts/jquery-ui-1.11.4.js")'></script>

    <script src="@Url.Content("~/Scripts/knockout-2.2.0.js")"></script>
    <script src="@Url.Content("~/Scripts/weixin.js")"></script>

    @RenderSection("style", required: false)
    @RenderSection("scripts", required: false)
    @RenderSection("HeaderContent", false)


</head>
<body style="padding-bottom:50px;font-family: 'Microsoft YaHei',微软雅黑!important">
    @RenderSection("header", required: false)
    <div class="btn3 clearfix">
        <div class="menu">
            <div class="bt-name">资源</div>
            <div class="sanjiao"></div>
            <div class="new-sub">
                <ul>
                    <li class="mui-table-view-cell"><a href="~/Biblio/Index">书目查询</a></li>
                    <li class="mui-table-view-cell"><a href="~/Home/Index">新书上架</a></li>
                </ul>
                <div class="tiggle"></div>
                <div class="innertiggle"></div>
            </div>
        </div><!--menu-->
        <div class="menu">
            <div class="bt-name">我的图书馆</div>
            <div class="sanjiao"></div>
            <div class="new-sub">
                <ul>
                    <li><a href="~/Patron/Index">我的信息</a></li>
                    @if (Session[dp2weixin.service.WeiXinConst.C_Session_IsBind] != null && (int)Session[dp2weixin.service.WeiXinConst.C_Session_IsBind] == 1)
                    {
                        <li><a href="~/Account/Index">账号管理</a></li>
                    }
                    else
                    {
                        <li><a href="~/Account/Bind">绑定账号</a></li>
                    }

                    <li><a href="~/Account/ResetPassword">找回密码</a>
                </ul>
                <div class="tiggle"></div>
                <div class="innertiggle"></div>
            </div>
        </div><!--menu-->

        <div class="menu">
            <div class="bt-name">更多</div>
            <div class="sanjiao"></div>
            <div class="new-sub">
                <ul>
                    <li>
                        <a href="~/Home/Index">最新公告</a>
                    </li>
                    <li>
                        <a href="~/Home/Contact">联系我们</a>
                    </li>
                    @if (Session["userType"] == "admin")
                    {
                        <li>
                            <a href="~/home/LibraryM">图书馆账号管理</a>
                        </li>
    <li>
        <a href="~/home/WeixinUser">微信用户管理</a>
    </li>
    <li>
        <a href="~/home/WeixinMessage">微信消息</a>
    </li>
                        <li>
                            <a href="~/Menu/Index">微信菜单</a>
                        </li>

                        <li>
                            <a href="~/home/Setting">参数设置</a>
                        </li>
                    }
                </ul>
                <div class="tiggle"></div>
                <div class="innertiggle"></div>
            </div>
        </div><!--menu-->

    </div>
    <div class="mui-content">
                <!--部分页占位符 -->
                @RenderBody()
     </div>
    <script>


        			//弹出垂直菜单
        			$(".menu").click(function () {
        			    if ($(this).hasClass("cura")) {
        			        $(this).children(".new-sub").hide(); //当前菜单下的二级菜单隐藏
        			        $(".menu").removeClass("cura"); //同一级的菜单项
        			    } else {
        			        $(".menu").removeClass("cura"); //移除所有的样式
        			        $(this).addClass("cura"); //给当前菜单添加特定样式
        			        $(".menu").children(".new-sub").slideUp("fast"); //隐藏所有的二级菜单
        			        //class="bt-name"
        			        var menuText = $(this).children(".bt-name").html();
        			        if (menuText == "更多")
        			        {
        			            $(this).children(".new-sub").css("left", "-80px");
        			        }
        			        $(this).children(".new-sub").slideDown("fast"); //展示当前的二级菜单
        			    }
        			});
    
    </script>
</body>
</html>
