<!DOCTYPE html>
<html lang="zh">
<HEAD>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.AppName</title>
    <!--CSS -->
    <link href="@Url.Content("~/Content/mui.min.css?test=1")" rel="stylesheet">
    <link href="@Url.Content("~/Content/icons-extra.css?test=1")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/style.css?a=1")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet">
    <script src='@Url.Content("~/Scripts/jquery-3.4.1.js")'></script>

    <script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.js?a=1")'></script>
    <script src="@Url.Content("~/Scripts/weixin.js?test=2")"></script>
    <script src="@Url.Content("~/Scripts/knockout-2.2.0.js")"></script>
    <script src="@Url.Content("~/Scripts/layer.js?a=1")"></script>
    <link href="@Url.Content("~/Content/layer.css?a=1")" rel="stylesheet">


    @RenderSection("style", required: false)
    @RenderSection("scripts", required: false)
    @RenderSection("HeaderContent", false)

</HEAD>
<body style="padding-bottom:50px;font-family: 'Microsoft YaHei',微软雅黑!important">
    <header class="mui-bar mui-bar-nav" id="myheader">

        <a class="mui-icon mui-pull-left" href='javascript:void(0)' style="color:#cccccc;"><span style="font-size:10pt">&nbsp;@ViewBag.userNameInfo&nbsp;</span></a>
        @RenderSection("header", required: false)
        <a class=" mui-icon mui-pull-right" href='javascript:void(0)' onclick='gotoSetting()' style="color:#cccccc"><span style="font-size:10pt" id="_libName">@ViewBag.LibName</span></a>
        <span id="_libId" style="display:none">@ViewBag.LibId</span>
    </header>

    <div class="btn3 clearfix" id="divBottonTab">
        <div class="menu">
            <div class="bt-name">资源</div>
            <div class="new-sub">
                <ul>
                    <li><a href="~/Biblio/Index">书目查询</a></li>
                    <li><a href="~/Library/BookSubject">好书推荐</a></li>
                    <li><a href="~/Library/BB">公告</a></li>
                    <li><a href="~/Patron/NewPatron">读者注册</a></li>
                </ul>
                <div class="tiggle"></div>
                <div class="innertiggle"></div>
            </div>
        </div><!--menu-->

        <div class="menu" >
            <div class="bt-name">我的图书馆</div>
            <div class="new-sub">
                <ul>
                    <li><a href="~/Patron/PersonalInfo">我的信息</a></li>
                    <li><a href="~/Account/Index">绑定账号</a></li>
                    <li><a href="~/Account/ResetPassword">找回密码</a></li>
                    <li><a href="~/Patron/QRcode">二维码</a></li>
                    <!--<li><a href="~/Library/Message">我的消息</a></li>-->
                    <li><a href="~/Patron/Setting">设置</a></li>

                </ul>
                <div class="tiggle"></div>
                <div class="innertiggle"></div>
            </div>
        </div><!--menu-->

        <div class="menu">
            <div class="bt-name">更多</div>
            <div class="new-sub">
                <ul>

                    <li>
                        <a href="~/Library/Charge2">借还窗</a>
                    </li>
                    <li>
                        <a href="~/Library/PatronEdit">读者登记</a>
                    </li>

                    <li>
                        <a href="~/Library/Home">图书馆介绍</a>
                    </li>
                    <li>
                        <a href="~/Library/dpHome">数字平台</a>
                    </li>
                    <li>
                        <a href="~/Library/Circulate">专业借还</a>
                    </li>
                </ul>
                <div class="tiggle"></div>
                <div class="innertiggle"></div>
            </div>

        </div>
    </div>

    <div class="mui-content" style="padding-top:50px">
        <span id="idTest" style="display:block"></span>
        <div id="loading"></div>
        <div id="mask-background" style="display: none; "></div>
        <div id="mask-progressBar" style="display: none; ">数据处理中，请稍候...</div>
        <!--部分页占位符 -->


        @RenderBody()


        <script>
            //弹出垂直菜单
            $(".menu").click(function () {
                if ($(this).hasClass("cura")) {
                    $(this).children(".new-sub").hide(); //当前菜单下的二级菜单隐藏
                    $(".menu").removeClass("cura"); //同一级的菜单项
                } else {
                    $(".menu").removeClass("cura"); //移除所有的样式
                    $(this).addClass("cura"); //给当前菜单添加特定样式
                    $(".menu").children(".new-sub").slideUp("fast"); //隐藏所有的二级菜单
                    //class="bt-name"
                    var menuText = $(this).children(".bt-name").html();
                    if (menuText == "更多") {
                        var dw = $(document).width();
                        var myval = dw / 3 - 120;
                        if (myval < 0) {
                            //alert(myval);
                            $(this).children(".new-sub").css("left", myval + "px");
                        }
                    }
                    $(this).children(".new-sub").slideDown("fast"); //展示当前的二级菜单
                }
            });


            var browser = {
                versions: function () {
                    var u = navigator.userAgent, app = navigator.appVersion;
                    return {         //移动终端浏览器版本信息
                        trident: u.indexOf('Trident') > -1, //IE内核
                        presto: u.indexOf('Presto') > -1, //opera内核
                        webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
                        gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核
                        mobile: !!u.match(/AppleWebKit.*Mobile.*/), //是否为移动终端
                        ios: !!u.match("/\\(i[^;]+;( U;)? CPU.+Mac OS X/"), //ios终端
                        android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或uc浏览器
                        iPhone: u.indexOf('iPhone') > -1, //是否为iPhone或者QQHD浏览器
                        iPad: u.indexOf('iPad') > -1, //是否iPad
                        webApp: u.indexOf('Safari') == -1, //是否web应该程序，没有头部与底部
                        weixin: u.indexOf('MicroMessenger') > -1, //是否微信 （2015-01-22新增）
                        qq: u.match(/\\sQQ/i) == " qq" //是否QQ
                    };
                }(),
                language: (navigator.browserLanguage || navigator.language).toLowerCase()
            };

            function doTopBottom() {
                window.setTimeout("showTopBottom()", 1);
            }


            $(document).ready(function () {
                totalHeight = $(window).height();
                totalWidth = $(window).width();

                //$("#idTest").html("totalHeight=" + totalHeight + ";totalWidth=" + totalWidth);

                if (browser.versions.iPhone == true) {
                    $("input").focus(function () {
                        setShowValue(false);
                        doTopBottom();
                    });
                    $("input").blur(function () {
                        setShowValue(true);
                        doTopBottom();
                    });

                    $("select").focus(function () {
                        setShowValue(false);
                        doTopBottom();
                    });
                    $("select").blur(function () {
                        setShowValue(true);
                        doTopBottom();
                    });

                    $("textarea").focus(function () {
                        setShowValue(false);
                        doTopBottom();
                    });
                    $("textarea").blur(function () {
                        setShowValue(true);
                        doTopBottom();
                    });

                }


            });





            // 设置是否显示头尾参数的值，同时改变背景
            function setShowValue(value) {
                bShowTopBottom = value;

            };

            // 真正做事，隐藏或显示头尾菜单
            var bShowTopBottom = true;
            var totalHeight = 0;
            var totalWidth = 0;
            function showTopBottom() {
                if (bShowTopBottom == true) {

                    // 把菜单位置设在最下方
                    $("#divBottonTab").css('position', 'fixed');
                    $("#divBottonTab").css('z-index', '3');

                    var top = totalHeight - 40;//发现height会越变越小，真是奇怪？ $("#divBottonTab").height();//要用一进来的值，因为iphone会在头顶弹出防欺诈盗号类行 $(window).height()
                    //if (top == 416)
                    //    top = top - 40;
                    $("#divBottonTab").css('top', top + 'px');
                    //$("#idTest").html(totalHeight + "===" + $("#divBottonTab").height() +"==="+ top);

                    $("#divBottonTab").css('display', 'block');
                    $("#myheader").css('display', 'block');
                }
                else {
                    $("#divBottonTab").css('display', 'none');
                    $("#myheader").css('display', 'none');

                }
            };

            function gotoUrl(url) {           
                var myUrl = getRootPath() + url;
                window.location = myUrl;
            };

            function getLibId() {
                return $("#_libId").text();
            }


            function gotoSetting() {
                var thisUrl = window.location.pathname; //
                //alert("[" + thisUrl + "]");
                var url = "/Patron/SelectLib";//"/Patron/Setting?returnUrl=" + encodeURIComponent(thisUrl);
                gotoUrl(url);
            }




            // 设置头尾菜单是否显示
            function setShowTopButton() {
                //
                if (browser.versions.iPhone == true) {
                    $("input").focus(function () {
                        setShowValue(false);
                        doTopBottom();
                    });
                    $("input").blur(function () {
                        setShowValue(true);
                        doTopBottom();
                    });
                    $("select").focus(function () {
                        setShowValue(false);
                        doTopBottom();
                    });
                    $("select").blur(function () {
                        setShowValue(true);
                        doTopBottom();
                    });
                    $("textarea").focus(function () {
                        setShowValue(false);
                        doTopBottom();
                    });
                    $("textarea").blur(function () {
                        setShowValue(true);
                        doTopBottom();
                    });
                }

            }




            var jssdkReady = 0;



        </script>
</body>
</html>
