<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>我爱图书馆</title>
    <!--CSS -->
    <link href="@Url.Content("~/Content/mui.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/layer.m.css")" type="text/css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/layer.js")"></script>
    <link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet">
    <script src='@Url.Content("~/Scripts/jquery-3.0.0.js")'></script>
    <script src='@Url.Content("~/Scripts/jquery-ui-1.11.4.js")'></script>
    <script src="@Url.Content("~/Scripts/knockout-2.2.0.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/weixin.js?test=1.0")"></script>
    @RenderSection("style", required: false)
    @RenderSection("scripts", required: false)
    @RenderSection("HeaderContent", false)

</head>
<body style="padding-bottom:50px;font-family: 'Microsoft YaHei',微软雅黑!important">
    <header class="mui-bar mui-bar-nav" id="myheader">
        @RenderSection("header", required: false)
        <a class=" mui-icon mui-pull-right"  href='javascript:void(0)' onclick='gotoSetting()' style="color:#cccccc"><span style="font-size:10pt" id="_libName">@ViewBag.LibName</span></a>
        <span id="_libId" style="display:none">@ViewBag.LibId</span>
    </header>

    <div class="btn3 clearfix" id="divBottonTab">
        <div class="menu">
            <div class="bt-name">资源</div>
            <div class="new-sub">
                <ul>
                    <li><a href="~/Biblio/Index">书目查询</a></li>
                    <li><a href="~/Library/BookSubject">好书推荐</a></li>
                </ul>
                <div class="tiggle"></div>
                <div class="innertiggle"></div>
            </div>
        </div><!--menu-->

        <div class="menu">
            <div class="bt-name">我的图书馆</div>
            <div class="new-sub">
                <ul>
                    <li><a href="~/Patron/PersonalInfo">我的信息</a></li>
                    @if (Session[dp2weixin.service.WeiXinConst.C_Session_IsBind] != null && (int)Session[dp2weixin.service.WeiXinConst.C_Session_IsBind] == 1)
                    {
                        <li><a href="~/Account/Index">账号管理</a></li>
                    }
                    else
                    {
                        <li><a href="~/Account/Bind">绑定账号</a></li>
                    }
                    <li><a href="~/Account/ResetPassword">找回密码</a></li>
                    <li><a href="~/Patron/QRcode">二维码</a></li>
                    <li><a href="~/Patron/Setting">设置</a></li>
                </ul>
                <div class="tiggle"></div>
                <div class="innertiggle"></div>
            </div>
        </div><!--menu-->

        <div class="menu">
            <div class="bt-name">更多</div>
            <div class="new-sub">
                <ul>
                    <li>
                        <a href="~/Library/BB">公告</a>
                    </li>
                    <li>
                        <a href="~/Library/HomePage">图书馆主页</a>
                    </li>
                    <li>
                        <a href="~/Home/Contact">联系我们</a>
                    </li>
                    @if (Session["userType"] != null && Session["userType"] == "admin")
                    {
                        <li>
                            <a href="~/home/LibraryM">图书馆管理</a>
                        </li>
                        <li>
                            <a href="~/home/WeixinUser">用户管理</a>
                        </li>
                        <li>
                            <a href="~/home/WeixinMessage">微信消息</a>
                        </li>
                        <li>
                            <a href="~/Menu/Index">微信菜单</a>
                        </li>
                        <li>
                            <a href="~/home/Setting">参数设置</a>
                        </li>
                        <li>
                            <a href="~/home/UiTest">UI 测试</a>
                        </li>
                    }
                </ul>
                <div class="tiggle"></div>
                <div class="innertiggle"></div>
            </div>

        </div>
    </div>

    <div class="mui-content" style="padding-top:50px">
        <span id="idTest" style="display:block"></span>
        <!--部分页占位符 -->
        @RenderBody()
    </div>

    <script>
        //弹出垂直菜单
        $(".menu").click(function () {
            if ($(this).hasClass("cura")) {
                $(this).children(".new-sub").hide(); //当前菜单下的二级菜单隐藏
                $(".menu").removeClass("cura"); //同一级的菜单项
            } else {
                $(".menu").removeClass("cura"); //移除所有的样式
                $(this).addClass("cura"); //给当前菜单添加特定样式
                $(".menu").children(".new-sub").slideUp("fast"); //隐藏所有的二级菜单
                //class="bt-name"
                var menuText = $(this).children(".bt-name").html();
                if (menuText == "更多") {
                    var dw = $(document).width();
                    var myval = dw / 3 - 120;
                    if (myval < 0) {
                        //alert(myval);
                        $(this).children(".new-sub").css("left", myval + "px");
                    }
                }
                $(this).children(".new-sub").slideDown("fast"); //展示当前的二级菜单
            }
        });


        var browser = {
            versions: function () {
                var u = navigator.userAgent, app = navigator.appVersion;
                return {         //移动终端浏览器版本信息
                    trident: u.indexOf('Trident') > -1, //IE内核
                    presto: u.indexOf('Presto') > -1, //opera内核
                    webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
                    gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核
                    mobile: !!u.match(/AppleWebKit.*Mobile.*/), //是否为移动终端
                    ios: !!u.match("/\\(i[^;]+;( U;)? CPU.+Mac OS X/"), //ios终端
                    android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或uc浏览器
                    iPhone: u.indexOf('iPhone') > -1, //是否为iPhone或者QQHD浏览器
                    iPad: u.indexOf('iPad') > -1, //是否iPad
                    webApp: u.indexOf('Safari') == -1, //是否web应该程序，没有头部与底部
                    weixin: u.indexOf('MicroMessenger') > -1, //是否微信 （2015-01-22新增）
                    qq: u.match(/\\sQQ/i) == " qq" //是否QQ
                };
            }(),
            language: (navigator.browserLanguage || navigator.language).toLowerCase()
        };

        $(document).ready(function () {

            //$("#idTest").html(" 是否为iPhone: " + browser.versions.iPhone);
            //browser.versions.iPhone
            if (browser.versions.iPhone == true) {
                $("input").focus(function () {
                    setShowValue(false);
                    window.setTimeout("showTopBottom()", 1);
                });
                $("input").blur(function () {                   
                    setShowValue(true);
                    window.setTimeout("showTopBottom()", 1);
                });

                $("select").focus(function () {
                    setShowValue(false);
                    window.setTimeout("showTopBottom()", 1);
                });
                $("select").blur(function () {
                    setShowValue(true);
                    window.setTimeout("showTopBottom(true)", 1);
                });

                $("textarea").focus(function () {
                    setShowValue(false);
                    window.setTimeout("showTopBottom()", 1);
                });
                $("textarea").blur(function () {
                    setShowValue(true);
                    window.setTimeout("showTopBottom()", 1);
                });
            }
            else {
                //// 非iphone时，浏览器窗口变矮时，隐藏头尾栏
                //$(window).resize(function () {

                //    window.setTimeout("adjust()", 1);
                //    //adjust();
                //});
            }
        });




        function adjust() {
            var h = $(window).height();
            if (h <= 150) {
                showTopBottom(false);
            }
            else {
                showTopBottom(true);
            }
        };

        // 设置是否显示头尾参数的值，同时改变背景
        function setShowValue(value) {
            bShowTopBottom = value;
            if (bShowTopBottom == true) {
                $('body').css('background-color', 'green');
            }
            else {
                $('body').css('background-color', 'red');
            }
        };

        // 真正做事，隐藏或显示头尾菜单
        var bShowTopBottom = true;
        function showTopBottom() {
            if (bShowTopBottom == true) {
                $("#divBottonTab").css('display', 'block');
                $("#myheader").css('display', 'block');
            }
            else {
                $("#divBottonTab").css('display', 'none');
                $("#myheader").css('display', 'none');
            }
        };

        function gotoUrl(url) {
            var myUrl = getRootPath() + url;
            window.location = myUrl;
        };

        function getLibId()
        {
            return $("#_libId").text();
        }

        //function getCurPath() {
        //    var path = 
        //    alert("[" + path + "]");
        //}

        function gotoSetting()
        {
            var thisUrl = window.location.pathname; //
            //alert("[" + thisUrl + "]");
            var url = "/Patron/Setting?returnUrl=" + encodeURIComponent(thisUrl);
            gotoUrl(url);
        }

        //======书目详细信息==========

        // 获取详细书目记录
        function getDetail(libId, recPath, obj,from) {

            //alert("getDetail 1");
            if (libId == null || libId == "") {
                alert("libId参数不能为空");
                return;
            }

            if (recPath == null || recPath == "") {
                recPath("libId参数不能为空");
                return;
            }

            var weixinId = $("#weixinId").text();
            if (weixinId == null || weixinId == "") {
                alert("weixinId参数为空");
                return;
            }

            //alert("getDetail 2");

            // 调api
            var url = "/api/biblio?weixinId=" + encodeURIComponent(weixinId)
                + "&libId=" + encodeURIComponent(libId)
                + "&biblioPath=" + encodeURIComponent(recPath)
                + "&format=full"
                + "&from=" + encodeURIComponent(from);

            //alert("getDetail 3");
            //alert(url);

            sendAjaxRequest(url, "GET", function (result) {

                //alert("getDetail 4");

                // 出错或未命中
                if (result.errorCode == -1 || result.errorCode == 0) {
                    var html = "error:" + result.errorInfo;
                    obj.html(html);
                    return;
                }
                //alert("getDetail 5");

                var itemTables = "";
                if (result.itemList.length == 0) {
                    itemTables = "<div class='mui-card item'>"
                        + "<span class='remark'>没有册信息</span>"
                        + "</div>"
                }

                for (var i = 0; i < result.itemList.length; i++) {
                    var record = result.itemList[i];

                    itemTables += "<div class='mui-card item' id='_item_" + record.barcode + "'>"
                    + "<div class='title'>" + record.barcode + "</div>"
                     + "<table>"
                    + "<tr>"
                    + "<td class='label'>状态</td>"
                    + "<td class='value'>" + record.state + "</td>"
                    + "</tr>"
                    + "<tr>"
                    + "<td class='label'>卷册</td>"
                    + "<td class='value'>" + record.volumn + "</td>"
                    + "</tr>"
                    + "<tr>"
                    + "<td class='label'>馆藏地</td>"
                    + "<td class='value'>" + record.location + "</td>"
                    + "</tr>"
                    + "<tr>"
                    + "<td class='label'>价格</td>"
                    + "<td class='value'>" + record.price + "</td>"
                    + "</tr>"
                    + "<tr>"
                    + "<td class='label'>在借情况</td>"
                    + "<td class='value'>" + record.borrowInfo + "</td>"
                    + "</tr>"
                    + "<tr>"
                    + "<td class='label'>预约信息</td>"
                    + "<td class='value' >" + record.reservationInfo + "</td>"
                    + "</tr>"
                    //
                    + "</table>"
                    + "</div>";
                }

                var recommendBtn = "";
                //var worker=$("#")
                //if (worker != null && worker != "") {
                //    var recommPath = "/Library/BookEdit?libId=" + libId
                //        + "&userName=" + worker
                //        + "&biblioPath=" + encodeURIComponent(biblioPath)
                //        + "&returnUrl=" + encodeURIComponent('/Biblio/Index')
                //    recommendBtn = "<div class='btnRow'><button class='mui-btn  mui-btn-default' "
                //        + " onclick=\"gotoUrl('" + recommPath + "')\">好书推荐</button></div>";
                //}
                //var myHtml = "<span>" + result.summary + "</span>"
                //    + recommendBtn
                //    + itemTables;

                var myHtml = result.summary + itemTables;

                obj.html(myHtml);

                //alert(myHtml);

                //return myHtml;

            }, function (xhq, textStatus, errorThrown) {
                o.html("访问服务器出错：[" + errorThrown + "]");
                return;
            });

            //return "";
        }

        //预约
        function reservation(obj, barcode, style) {
            //alert($("input[name='ckbBarcode']:checked").length);
            if (style == "delete") {
                var opeName = $(obj).text();
                var gnl = confirm("你确定对册[" + barcode + "]" + opeName + "吗?");
                if (gnl == false) {
                    return false;
                }
            }

            var libId = getLibId();//$("#selLib").val();
            if (libId == "") {
                alert("尚未选择图书馆");
                return;
            }

            var patron = $("#patronBarcode").text();
            if (patron == "") {
                alert("您尚未绑定图书馆账户，请先绑定账户。");
                return;
            }

            if (barcode == "") {
                alert("您尚未选择要预约的册记录。");
                return;
            }

            var itemDivId = "#_item_" + barcode;
            var infoDiv = $(itemDivId).find(".resultInfo");

            //显示等待图层
            var index = loadLayer();

            var url = "/api/Reservation?libId=" + encodeURIComponent(libId)
                + "&patron=" + encodeURIComponent(patron)
                + "&items=" + encodeURIComponent(barcode)
                + "&style=" + style;//new 创建一个预约请求,delete删除
            // 调api
            sendAjaxRequest(url, "POST", function (result) {


                // 关闭等待层
                layer.close(index);

                // 显示预约结果

                var info = result.errorInfo;

                $("input[name='ckbBarcode']").removeAttr("checked");//取消全选

                // 出错
                if (result.errorCode == -1) {
                    $(infoDiv).text(info);
                    $(infoDiv).css("color", "red");  //设为红色

                    alert(result.errorInfo);
                    return;
                }

                var bWarn = true;
                if (info == "") {
                    info = $(obj).html() + " 操作成功。";
                    bWarn = false;
                }
                else {
                    info = $(obj).html() + " 操作成功。<br>" + info;
                }

                alert(info.replace("<br>", "\r\n"));

                if (bWarn == true)
                    $(infoDiv).css("background-color", "yellow");  //设为绿色
                else
                    $(infoDiv).css("color", "darkgreen");  //设为绿色
                $(infoDiv).html(info);

                //reserRow
                var reserRow = $(itemDivId).find(".reserRow");
                //reserRow.html("<td>a</td><td>b</td>");
                $(reserRow).prop('outerHTML', result.reserRowHtml);

                // 更新当前册的预约显示 todo,传一个item id，从服务器得到html

                //var div = $(obj).parent().parent();
                //getReservations(barcode, div, info, bWarn);


            }, function (xhq, textStatus, errorThrown) {

                // 关闭等待层
                layer.close(index);

                // 显示预约结果
                var info = "访问服务器出错：[" + errorThrown + "]";
                alert(info);

                $(infoDiv).text(info);
                $(infoDiv).css("color", "red");  //设为红色
            });
        }

        // 续借
        function renew(itemBarcode) {
            if (itemBarcode == "") {
                alert("尚未传入册条码号。");
                return;
            }

            var libId = getLibId(); //$("#libId").val();
            if (libId == "") {
                alert("尚未选择图书馆");
                return;
            }


            var patronBarcode = $("#patronBarcode").text();
            if (patronBarcode == "") {
                alert("您尚未绑定图书馆读者账户，请先绑定账户。");
                return;
            }

            //显示等待图层
            var index = loadLayer();

            var url = "/api/BorrowInfo?libId=" + encodeURIComponent(libId)
                + "&action=renew"
                + "&patron=" + encodeURIComponent(patronBarcode)
                + "&item=" + encodeURIComponent(itemBarcode)
            // 调api
            sendAjaxRequest(url, "POST", function (result) {

                // 关闭等待层
                layer.close(index);

                // 显示续借结果
                var divId = "#renewInfo-" + itemBarcode;
                var infoDiv = $(divId);
                var info = result.errorInfo;


                // 出错
                if (result.errorCode == -1) {
                    $(infoDiv).text(info);
                    $(infoDiv).css("color", "red");  //设为红色

                    alert(result.errorInfo);
                    return;
                }


                if (info == "")
                    info = "续借成功";

                $(infoDiv).text(info);
                $(infoDiv).css("color", "darkgreen");  //设为绿色

                // 续借按钮还一直存在吗？todo


            }, function (xhq, textStatus, errorThrown) {

                // 关闭等待层
                layer.close(index);

                // 显示预约结果
                var info = "访问服务器出错：[" + errorThrown + "]";
                alert(info);

                var divId = "#renewInfo-" + itemBarcode;
                var infoDiv = $(divId);

                $(infoDiv).text(info);
                $(infoDiv).css("color", "red");  //设为红色
            });
        }


        // 设置头尾菜单是否显示
        function setShowTopButton() {
            //
            if (browser.versions.iPhone == true) {
                $("input").focus(function () {
                    setShowValue(false);
                    window.setTimeout("showTopBottom()", 1);
                });
                $("input").blur(function () {
                    setShowValue(true);
                    window.setTimeout("showTopBottom()", 1);
                });
                $("textarea").focus(function () {
                    setShowValue(false);
                    window.setTimeout("showTopBottom()", 1);
                });
                $("textarea").blur(function () {
                    setShowValue(true);
                    window.setTimeout("showTopBottom()", 1);
                });
            }

        }
    </script>
</body>
</html>
