<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href=@Url.Content("~/favicon.ico")>
    <title>我爱图书馆</title>
    <!--CSS -->
    <link href="@Url.Content("~/Content/mui.min.css")" rel="stylesheet">
    <script src="@Url.Content("~/Scripts/mui.min.js")"></script>

<link href="@Url.Content("~/Content/layer.m.css")" type="text/css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/layer.js")"></script>

    <script src='@Url.Content("~/Scripts/jquery-1.9.1.js")'></script>
    <script src='@Url.Content("~/Scripts/jquery-ui-1.8.24.js")'></script>

    <script src="@Url.Content("~/Scripts/knockout-2.2.0.js")"></script>
    <script src="@Url.Content("~/Scripts/weixin.js")"></script>

    @RenderSection("style", required: false)
    @RenderSection("scripts", required: false)
    @RenderSection("HeaderContent", false)


</head>
<body>
    @RenderSection("header", required: false)

    <nav class="mui-bar mui-bar-tab ">
        <a class="mui-tab-item" href="#Popover_0">资源</a>
        <a class="mui-tab-item" href="#Popover_1">我的图书馆</a>
        <a class="mui-tab-item" href="#Popover_2">更多</a>
@if (Session["userType"] == "admin")
{
        <a class="mui-tab-item" href="#Popover_3">系统管理</a>
}
    </nav>
    <div id="Popover_0" class="mui-popover mui-bar-popover">
        <div class="mui-popover-arrow"></div>
        <ul class="mui-table-view">
            <li class="mui-table-view-cell">
                <a href="~/Biblio/Index">书目查询</a>
            </li>
            <li class="mui-table-view-cell">
                <a href="~/Home/Index">新书上架</a>
            </li>
        </ul>
    </div>
    <div id="Popover_1" class="mui-popover mui-bar-popover">
        <div class="mui-popover-arrow"></div>
        <ul class="mui-table-view">
            <li class="mui-table-view-cell">
                <a href="~/Patron/Index">我的信息</a>
            </li>
            <li class="mui-table-view-cell">
                <a href="~/Account/Bind">绑定账号</a>
            </li>
            <li class="mui-table-view-cell">
                <a href="~/Account/Index">账号管理</a>
            </li>
            <li class="mui-table-view-cell">
                <a href="~/Account/ResetPassword">找回密码</a>
            </li>
        </ul>
    </div>
    <div id="Popover_2" class="mui-popover mui-bar-popover">
        <div class="mui-popover-arrow"></div>
        <ul class="mui-table-view">
            <li class="mui-table-view-cell">
                <a href="~/Home/Index">最新公告</a>
            </li>
            <li class="mui-table-view-cell">
                <a href="~/Home/Contact">联系我们</a>
            </li>
        </ul>
    </div>
    <div id="Popover_3" class="mui-popover mui-bar-popover">
        <div class="mui-popover-arrow"></div>
        <ul class="mui-table-view">
            <li class="mui-table-view-cell">
                <a href="~/home/LibraryM" >图书馆账号管理</a>
            </li>
            <li class="mui-table-view-cell">
                <a href="~/home/WeixinUser">微信用户管理</a>
            </li>
            <li class="mui-table-view-cell">
                <a href="~/home/WeixinMessage">微信消息</a>
            </li>
            <li class="mui-table-view-cell">
                <a href="~/Menu/Index">微信菜单</a>
            </li>

            <li class="mui-table-view-cell">
                <a href="~/home/Setting">参数设置</a>
            </li>                                            
        </ul>
    </div>

    <div class="mui-content">
                <!--部分页占位符 -->
                @RenderBody()
     </div>
    <script>
        			(function ($, doc) {
        			    $.init();
        			});
    
    </script>
</body>
</html>
